{% extends "templates/views/errors/_layout__error.html" %}

{% set title = "Oops  ·  Pixel Up!" %}

{% set error_code = "404" %}
{% set error_desc = "The page you requested is no longer here." %}
{% set hero__header_content = "We can't find that page" %}


{% block error_content %}
                        <p>You may not be able to find this page because of:</p>
                        <ul>
                            <li>An out-of-date bookmark/favourite</li>
                            <li>A search engine that has an out-of-date listing for us</li>
                            <li>A mis-typed address</li>
                        </ul>
{% endblock %}
