{% extends "templates/views/errors/_layout__error.html" %}

{% set title = "Ouch  ·  PIXEL UP!" %}

{% set error_code = "500" %}
{% set error_desc = "Something is broken on our side." %}
{% set hero__header_content = "Something went wrong" %}


{% block error_content %}
                        <p>You may not be able to find this page because of:</p>
                        <ul>
                            <li>Our machines are broken (most likely).</li>
                            <li>Our code is sucktastic.</li>
                            <li>The internet is broken.</li>
                            <li>All of the above.</li>
                        </ul>
{% endblock %}
