{% extends "templates/layouts/default.html" %}

{% set title = "Ouch  ·  Pixel Up!" %}
{% block header_content %}
                <h1 class="page-title light">Something went wrong</h1>
                <div class="row">
                    <div class="offset-by-one-third two-thirds column">
                        <p class="light">
                            <strong>Error 500.</strong> <br>Something has gone terribly wrong
                        </p>
                    </div>
                </div>
{% endblock %}

{% block content %}


                <div class="row">
                    <div class="offset-by-one-third two-thirds column">
                        <p>You may not be able to see this page because:</p>
                        <ol>
                            <li>Our machines are broken (most likely).</li>
                            <li>Our code is sucktastic.</li>
                            <li>The internet is broken.</li>
                            <li>All of the above.</li>
                        </ol>
                    </div>
                </div>

{% endblock %}
