{% extends "templates/layouts/default.html" %}
{% set title_text = data.post.title %}

{% set title = title_text  %}
{% set meta_description = data.post.content.brief | striptags %}

{% block opengraph_data %}
<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@letspixelup">
<meta name="twitter:creator" content="@farai_uxguy">
<meta name="twitter:title" content="{{ title }}{% if section!="home" %} | Pixel Up! {{ "Blog" if section=="blog-post" or section=="blog" else "2016 in Johannesburg" }}{% endif %}">
<meta name="twitter:description" content="{{ meta_description }}">
<meta name="twitter:image" content="{{ data.post.image.secure_url }}">
<meta name="twitter:domain" content="https://pixelup.co.za">

<!-- opengraph -->
<meta property="og:locale" content="en_ZA">
<meta property="og:description" content="{{ meta_description }}">
<meta property="og:image" content="{{ data.post.image.secure_url }}">
<meta property="og:image:width" content="{{ data.post.image.width }}">
<meta property="og:image:height" content="{{ data.post.image.height }}">
<meta property="og:site_name" content="Pixel Up! Conference in Johannesburg, September 12 - 14, 2016">
<meta property="og:title" content="{{ title }}{% if section!="home" %} | Pixel Up! {{ "Blog" if section=="blog-post" or section=="blog" else "2016 in Johannesburg" }}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://pixelup.co.za{{ urlPath }}">
<meta property="article:publisher" content="https://www.facebook.com/letspixelup">
{% endblock %}

{% block header_content %}
                <h1 class="hero__header post-hero">
                    <small><a href="/blog">Pixel Up! Blog</a></small><br/>
                    {{ data.post.title }}
                </h1>
                <div class="author-content">
					<img alt="" src="{{ data.post.author.mugshot.secure_url }}" srcset="{{ data.post.author.mugshot.secure_url }}" class="avatar avatar--round avatar--small avatar--gray photo" height="234" width="234" originals="234" scale="2">
                    <p class="caption">by <span itemprop="author">{{ data.post.author.name.full }}</span> on <time itemprop="dateCreated" datetime="data.post._.publishedDate">{{ data.post._.publishedDate.format("MMMM Do, YYYY") }}</time></p>
                </div>
{% endblock %}

{% block content %}
                <div class="section-layout">
                    <section class="section typeset container">
                        {#
						<dl class="meta">
					        <dt>Next</dt>
					        <dd><a href="{{ data.post.next }}">{{ data.post.next }}</a></dd>

					        <dt>Previously</dt>
					        <dd><a href="{{ data.post.next }}">{{ data.post.next }}</a></dd>

					        <dt>Subscribe</dt>
					        <dd><a href="http://pixelup.co.za/feed">Subscribe via RSS</a></dd>
				        </dl>
                        #}
						<article class="article article--single blog-article">
							{% if not data.post %}
								<h2>We can't find the post you're looking for.</h2>
							{% else %}
							<div class="post">
								{% if data.post.image.exists %}
									<div class="image-wrap">
										<img src="{{ data.post._.image.fit(750,450) }}" class="img-responsive">
									</div>
								{% endif %}
								{{ data.post.content.full|safe }}
							</div>
							{% endif %}
                            <div class="article__footer">
                                <div class="author-card">
                                    <h6>Author</h6>
                                        <div class="author-block" itemscope="" itemptype="http://schema.org/Person">
                            		        <span itemprop="image"><img class="author-block__image" alt="" src="{{ data.post.author.mugshot.secure_url }}" srcset="{{ data.post.author.mugshot.secure_url }}" class="avatar avatar-234 photo" height="234" width="234" originals="234" scale="2"></span>
                                    		<div class="author-block__author-details">
                                    			<span itemprop="name"><strong>{{ data.post.author.name.full }}</strong>, {{ data.post.author.getJobTitleFull }}</span><br>
                                                    {{ data.post.author.bio }}
                                    			<p class="author-social-media"><a class="social-link no-redirect" target="_blank" rel="nofollow" href="https://twitter.com/{{ data.post.author.twitter }}">Follow me on Twitter</a></p>
                                    		</div>
                            	        </div>
                            	</div>
                            </div>
						</article>
                    </section>
                </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $('.blog-article').readingTime();
</script>
{% endblock %}
