{% extends "templates/layouts/content-view__partial.html" %}

{% set title = "PIXEL UP! Blog | UX, Product Design &amp; Events" %}
{% block meta %}
<update-title title="{{ title }}"></update-title>
<update-meta name="keywords" content="Pixel Up, PIXEL UP!, PixelUp16, ux conference, ux johannesburg, ux south africa, ux design, interaction design, user experience, ux designer, ui design, user interface design"></update-meta>
<update-meta name="description" content="{{ meta_description }}"></update-meta>

<!-- Twitter Card -->
<update-meta name="twitter:card" content="summary_large_image"></update-meta>
<update-meta name="twitter:site" content="@letspixelup"></update-meta>
<update-meta name="twitter:creator" content="@farai_uxguy"></update-meta>
<update-meta name="twitter:title" content="{{ title }}"></update-meta>
<update-meta name="twitter:description" content="{{ meta_description }}"></update-meta>
<update-meta name="twitter:image" content="https://pixelup.co.za/img/pixelup-avatar-twitter-card.png?1139"></update-meta>
<update-meta name="twitter:domain" content="https://pixelup.co.za"></update-meta>

<update-meta property="og:locale" content="en_ZA"></update-meta>
<update-meta property="og:description" content="{{ meta_description }}"></update-meta>
<update-meta property="og:image" content="https://pixelup.co.za/img/avatar-open-graph-fb.png?832"></update-meta>
<update-meta property="og:image:width" content="1200"></update-meta>
<update-meta property="og:image:height" content="628"></update-meta>
<update-meta property="og:site_name" content="PIXEL UP! UX Conference in Johannesburg, September 12 - 14, 2016"></update-meta>
<update-meta property="og:title" content="{{ title }}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>
<update-meta property="og:url" content="https://pixelup.co.za{{ urlPath }}"></update-meta>
<update-meta property="article:publisher" content="https://www.facebook.com/letspixelup"></update-meta>
{% endblock%}

{% block header_content %}
            <a href="/blog/{{ data.posts[0].slug }}">
                <h1 class="hero__header post-hero">
                	{% set catTitle = ( data.category.name if data.category else "" ) %}
                    <small>{{ catTitle }} PIXEL UP! Blog </small><br/>
                    {{ data.posts[0].title }}
                </h1>
                <div class="author-content">
					<img alt="" src="{{ data.posts[0].author.mugshot.secure_url }}" srcset="{{ data.posts[0].author.mugshot.secure_url }}" class="avatar avatar--round avatar--small avatar--gray photo" height="234" width="234" originals="234" scale="2">
                    <p class="caption">by <span itemprop="author">{{ data.posts[0].author.name.full }}</span> </p>
                </div>
            </a>
{% endblock %}

{% macro blogPost(post, isHero) %}
                        <div class="blog-article-list__item post">
                            <a href="/blog/articles-about/{{ post.category.slug }}" class="caption category-caption">
                                {{ post.category.name }}
                            </a>
							<a href="/blog/{{ post.slug }}">
                                <h3 class="blog-title">{{ post.title }}</h3>
								{{ post.content.brief|safe | truncate(140) }}
								{% if post.content.extended %}
                                <div class="author-content">
                					<img alt="" src="{{ post.author.mugshot.secure_url }}" srcset="{{ post.author.mugshot.secure_url }}" class="avatar avatar--round avatar--small avatar--gray photo" height="234" width="234" originals="234" scale="2">
                                    <p class="caption">by <span itemprop="author">{{ post.author.name.full }}</span> </p>
                                </div>
									<span class="read-more">
										<!-- <a href="/blog/{{ post.slug }}">More...</a> -->
									</span>
								{% endif %}
							</a>
						</div>
{% endmacro %}

{% block intro %}
<div class="container">
	{% set title = ( data.category.name if data.category else "Blog" ) %}
	<h1>{{ title }}</h1>
</div>
{% endblock %}

{% block content %}
                <div class="section-layout section-layout--left">
                    <section class="section typeset container">
                            <div class="Tab-nav">
                                <a class="Tab-nav-item {% if not filters.category %} Tab-nav-item--selected {%endif%}" href="/blog">Most Recent</a>
                                {% for c in data.categories %}

                                    <a class="Tab-nav-item {% if filters.category == c.slug %} Tab-nav-item--selected {%endif%}" href="/blog/articles-about/{{  c.slug }}">{{ c.name }}</a>
                                {% endfor %}
                            </div>
								{% if filters.category and not data.category %}
                                    <h3 class="caption caption--centered">No posts in this category yet.</h3>
								{% else %}
									{% if data.posts.length %}
										<div class="blog blog-article-list">
											{% for post in data.posts %}
                                                {% if not loop.first %}
                                                {{ blogPost(post, isHero) }}
                                                {% endif %}
                                            {% endfor %}
										</div>
									{% else %}
										<h3 class="caption caption--centered">No posts in this category yet.</h3>
									{% endif %}
								{% endif %}
							<!-- {% if data.categories.length %}
								<div class="col-sm-4 col-md-3">
									<h2>Categories</h2>
									<div class="list-group" style="margin-top: 70px;">
										{% set class = ( "active" if not data.category else "" ) %}
										<a href="/blog" class="{{ class }} list-group-item">All Categories</a>
										{% for cat in data.categories %} {% set class = ( "active" if data.category and data.category.id == cat.id else "" ) %}
											<a href="/blog/{{ cat.key }}" class="{{ class }} list-group-item">{{ cat.name }}</a>
										{% endfor %}
									</div>
								</div>
							{% endif %} -->
                    </section>
                </div>


{% endblock %}
