{% extends "templates/layouts/default.html" %}

{% set title = "Blog  ·  Pixel Up!" %}
{% block header_content %}
                <h1 class="hero__header">Pixel Up! Blog</h1>
{% endblock %}

{% macro blogPost(post) %}
                        <div class="row">
    						<div class="one-third column">
                                <h2 class="blog-title">
    								<a href="/blog/{{ post.slug }}">{{ post.title }}</a>
    							</h2>
                                <p class="meta-blog detail">
                                    By {{ post.author.name.first }} on {{ post._.publishedDate.format("MMMM Do, YYYY") }}
                                </p>
                            </div>
    						<div class="two-thirds column">
                                <div class="post" data-ks-editable="editable(user, { list: " Post ", id: post.id })">


        							<a href="/blog/{{ post.slug }}">
        								{{ post.content.brief|safe }}
        								{% if post.content.extended %}
        									<span class="read-more">
        										<a href="/blog/post/{{ post.slug }}">More...</a>
        									</span>
        								{% endif %}
        							</a>
        						</div>
                            </div>
                        </div>

{% endmacro %}

{% block intro %}
<div class="container">r
	{% set title = ( data.category.name if data.category else "Blog" ) %}
	<h1>{{ title }}</h1>
</div>
{% endblock %}

{% block content %}
								{% if filters.category and not data.category %}
									<h3 class="text-muted">Invalid Category.</h3>
								{% else %}
									{% if data.posts.results.length %}
										<div class="blog">
											{% for post in data.posts.results %} {{ blogPost(post) }} {% endfor %}
										</div>
									{% else %}
										<h3 class="text-muted">We haven't added an posts to our blog yet.</h3>
									{% endif %}
								{% endif %}
							<!-- {% if data.categories.length %}
								<div class="col-sm-4 col-md-3">
									<h2>Categories</h2>
									<div class="list-group" style="margin-top: 70px;">
										{% set class = ( "active" if not data.category else "" ) %}
										<a href="/blog" class="{{ class }} list-group-item">All Categories</a>
										{% for cat in data.categories %} {% set class = ( "active" if data.category and data.category.id == cat.id else "" ) %}
											<a href="/blog/{{ cat.key }}" class="{{ class }} list-group-item">{{ cat.name }}</a>
										{% endfor %}
									</div>
								</div>
							{% endif %} -->

{% endblock %}
