{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Terms &amp; Conditions  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}

{% block page_content %}
        <h1 class="page-title">Convince your boss</h1>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <p class="lead"><strong>To grow your career, you've got to get out there and meet people. Here's how to get your boss to give you the green light.</strong></p>
                <h2>HERE'S AN EXAMPLE LETTER FOR YOUR BOSS</h2>
                <p><strong>Dear <em>[insert boss name/title]</em></strong></p>
                <p>Pixel Up!, a conference for people like me who work on digital products, is happening 12 to 14 September 2016 in Johannesburg.
                    It gathers some of the brightest names from around the globe to give talks and workshops. It will be an opportunity
                    for me to hear stories and get face-to-face advice from design leaders from companies like Dropbox and Twitter,
                    as well as scrappy upstarts who are clawing their way to success one customer at a time.</p>
                <p>I truly feel that attending Pixel Up! will help me to grow not only personally but also as
                    an integral part of <em>[insert company name]</em>. </p>
                <p>As you know, continuing education is an important part of any employee's career and there's
                    nowhere else that I will have access to so many levels of information in one place without going overseas.</p>
                <p>More specifically, I wanted to point out the benefits that both I and <em>[company name]</em> will
                    receive by attending the event:</p>
                <ul>
                    <li><strong>I will increase my productivity</strong> &mdash; While I will certainly be attending Pixel Up! in order to learn, a relaxed atmosphere, away from the office, will energize me and allow me to work better when I return.</li>
                    <li><strong>I will return inspired</strong> &mdash; Pixel Up! specifically chooses speakers that talk not only about how they succeeded, but also how they failed and what they learned from it.</li>
                    <li><strong>I will be better at my job</strong> &mdash; One of the many points offered by Pixel Up! is insight from design leaders about the things they found that made them better in business. These points can help me to find areas in which I can improve.</li>
                    <li><strong>I will learn more about our UX &amp; UI design</strong> &mdash; My employment with <em>[company name]</em> is not just a job to me. I joined <em>[company name]</em> as a career decision and what I learn at Pixel Up! can only serve to bolster my knowledge and thirst for success.</li>
                </ul>
                <p>As I'm sure you can see, attending Pixel Up! will not only benefit me personally and professionally, but there is a fantastic opportunity for our business to grow as a result of what I experience. I genuinely appreciate you taking the time to read these points, and I thank you for your consideration.</p>

                <p>Sincerely, <em>[your name]</em>.</p>
            </div>
        </div>
{% endblock %}
