{% extends "templates/layouts/default-no-angular.html" %}
{% block header_content %}
                <h1 class="hero__header">PIXEL UP! 2016</h1>
{% endblock %}

{% block content %}
                <div class="section-layout">
                    <section class="dashboard section typeset container">
                        <ul class="dashboard__stats no-bullet">
                            <li class="stat-item">
                                <span class="stat-item__label">Monday</span>
                                <span class="stat-item__number">{{ data.stats.threeday + data.stats.twoday + data.stats.monday }}</span>  / 180
                            </li>
                            <li class="stat-item">
                                <span class="stat-item__label">Tuesday</span>
                                <span class="stat-item__number">{{ data.stats.threeday + data.stats.twoday + data.stats.tuesday }}</span>  / 180
                            </li>
                            <li class="stat-item">
                                <span class="stat-item__label">WS - BRAD</span>
                                <span class="stat-item__number">{{ data.stats.rwd }}</span>  / 30
                            </li>
                            <li class="stat-item">
                                <span class="stat-item__label">WS - UXL</span>
                                <span class="stat-item__number">{{ data.stats.uxl }}</span>  / 30
                            </li>
                            <li class="stat-item">
                                <span class="stat-item__label">Masterclass</span>
                                <span class="stat-item__number">{{ data.stats.masterclass }}</span>  / 40
                            </li>
                        </ul>
                        <div class="dashboard__sales">
                            <ul class="no-bullet">
                                <li><strong>TICKET SALES</strong></li>
                                <li><strong>{{ data.tickets_1day }}</strong> x 1 Day Conf.</li>
                                <li><strong>{{ data.tickets_workshop }}</strong> x 1 Day W/shop</li>
                                <li><strong>{{ data.tickets_2day }}</strong> x 2 Day Pass</li>
                                <li><strong>{{ data.tickets_3day }}</strong> x 3 Day Pass</li>
                            </ul>
                            <ul class="no-bullet">
                                <li><strong>SOLD. UNCHOSEN</strong></li>
                                <li><strong>{{ data.TBC_workshop }}</strong> x Workshops </li>
                                <li><strong>{{ data.TBC_masterclass }}</strong> x Masterclass </li>
                            </ul>
                        </div>
                        <div class="dashboard__list">
                            <table id="table-attendees" class="display">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Ticket</th>
                                        <th>Company</th>
                                        <th>Workshop</th>
                                        <th>Masterclass</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in data.attendees %}
                                    <tr class="{{ "unallocated" if a.isUnAllocated else "" }}">
                                        <!-- <td>{{ loop.index }}.</td> -->
                                        <td class="attendee__name {{ "attendee__active" if a.isActivated else "" }}">
                                            {{ a.name.full }}
                                        </td>
                                        <td class="attendee__ticket">{{ a.ticketType.name |replace(" Conference Pass", "") }}</td>
                                        <td>
                                            {% if not a.company %}
                                                <span class='caption'></span>
                                            {% else %}
                                                {{ a.company }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if a.hasWorkshop %}
                                                {% if a.isActivated %}
                                                    {{ "" if not a.ticketWorkshop else a.ticketWorkshop.code }} </td>
                                                {% else %}
                                                <span class='caption caption--red'>TBC</span>
                                                {% endif %}
                                            {% else %}
                                                <span class='caption'>&ndash;</span>
                                            {% endif %}

                                        <td>
                                            {% if not a.isActivated %}
                                                <span class='caption caption--red'>TBC</span>
                                            {% else %}
                                                {{ "YES" if a.ticketMasterclass else "<span class='caption'>NO</span>" }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#table-attendees').DataTable({
            "paging":   false,
            "info":     false
            }
        );
    } );
</script>
{% endblock %}
