{% extends "templates/layouts/default-no-angular.html" %}
{% block header_content %}
                <h1 class="hero__header">The Slides.</h1>
                <h6 class="hero__lead">
                    Use them well. Do GREAT work.
                </h6>
{% endblock %}

{% block content %}
                <div class="section-layout">
                    <section class="section typeset container">

                        <section class="event-day">

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>Style Guide Best Practices</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/brad-frost.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">Brad Frost</span>
                                                <p class="Card-copy caption">

                                                    <a href="https://drive.google.com/file/d/0Bw380GuF12pNdllLcENDSVlkVnM">Download presentation (PDF — 125 MB)</a>

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>Table Setting Guides for Great Design</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/dan-mall.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">Dan Mall</span>
                                                <p class="Card-copy caption">

                                                    <a href="https://drive.google.com/file/d/0Bw380GuF12pNUjROOW5OMm5HMWM">Download presentation (PDF — 69.4 MB)</a>

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>Effective design strategies for Agile and Lean environments</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/emma-van-niekerk.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">Emma van Niekerk</span>
                                                <p class="Card-copy caption">

                                                    <a href="https://drive.google.com/file/d/0Bw380GuF12pNelNOZ0xGaEJqVDQ">Download presentation (PDF — 8.9 MB)</a>

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>Designing a Design System</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/jina-bolton.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">Jina Bolton</span>
                                                <p class="Card-copy caption">

                                                    <a href="https://drive.google.com/file/d/0Bw380GuF12pNTl85eVdBVEY2Y1k">Download presentation (PDF — 42.6 MB)</a>

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>Last Talk of the Day But It'll Be Great I Promise</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/jon-bell.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">Jon Bell</span>
                                                <p class="Card-copy caption">

                                                    No slides, you had to be there. It was awesome.

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>KEYNOTE — Interface Design: Then, Now, and Next</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/martin-pedrick.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">Martin Pedrick</span>
                                                <p class="Card-copy caption">

                                                    <a href="https://drive.google.com/file/d/0Bw380GuF12pNZ0g3UEFhSUJNMGM">Download presentation (PDF — 24.2 MB)</a>

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>Interacting in Virtual Reality</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/pascal-auberson.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">Pascal Auberson</span>
                                                <p class="Card-copy caption">

                                                    <a href="https://drive.google.com/file/d/0Bw380GuF12pNeFNGMGlRclRQNDQ">Download presentation (PDF — 27 MB)</a>

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>Designed to Make a Difference: 3 Stories of Pixels, Personalities, and Rock &amp; Roll</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/rebecca-garza-bortman.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">Rebecca Garza-Bortman</span>
                                                <p class="Card-copy caption">

                                                    <a href="https://drive.google.com/file/d/0Bw380GuF12pNYnNIYVlLN2RCZ0U">Download presentation (PDF — 33.5 MB)</a>

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>Proving the business value of design</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/rob-gardziel.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">Rob Gardziel</span>
                                                <p class="Card-copy caption">

                                                    No slides, you had to be there. It was awesome.

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>Design in South Africa is Broken</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/warwick-gill.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">Warwick Gill</span>
                                                <p class="Card-copy caption">

                                                    <a href="https://drive.google.com/file/d/0Bw380GuF12pNOFRzd3MtZUdqbzA">Download presentation (PDF — 4.5 MB)</a>

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>Your App Is Good And You Should Feel Good</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/william-van-hecke.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">William van Hecke</span>
                                                <p class="Card-copy caption">

                                                    <a href="https://drive.google.com/file/d/0Bw380GuF12pNX2d4cGlwbTItSUk">Download presentation (PDF — 59.4 MB)</a>

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Listing">
                                        <div class="Card Card--listing Listings-1 ">
                                            <span class="Listing-title"><strong>The importance and impact of diversity within design teams.</strong></span>

                                            <div class="Listing-body ">
                                                <img class="Card-image " src="/img/speakers/yonatan-kelib.jpg" alt="Rebecca Garza-Bortman">
                                                <span class="Card-title p-name">Yonatan Kelib</span>
                                                <p class="Card-copy caption">

                                                    <a href="https://drive.google.com/file/d/0Bw380GuF12pNVEJJLXVrTWdYbU0">Download presentation (PDF — 54.7 MB)</a>

                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                </section>
                    </section>
                </div>
{% endblock %}
