    <div class="footer">
        <div class="row">
            <p><strong>Got any questions or comments? Get in touch:</strong></p>
            <ul>
                <li><i class="fi-social-twitter"></i> <a href="http://www.twitter.com/farai_uxguy" class="twitter">@farai_uxguy</a></li>
                <li><i class="fi-mail"></i> <a href=""><span id="myEmail" ></span></a></li>
                <li><i class="fi-social-linkedin"></i> <a href="http://za.linkedin.com/in/farai/" class="mail">linkedin.com/in/farai</a></li>
            </ul>
            <p class="copyright">&copy; 2014 UX Skills</p>
        </div>
    </div>
