{% extends "templates/layouts/default.html" %}

{% set title = "Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}

{% block content %}
                <h1 class="page-title">{{
                    [
                        'For product designers, thinkers and makers.',
                        'For pixel pushers and software engineers',
                        'For inspiration, design and practical skills'
                    ]|random
                }}</h1>
                <div class="row">
                    <div class="offset-by-one-third two-thirds column">
                        <p>
                            <strong><em>UX design. UI design. Front-end dev. Product management. Responsive web design. Native &amp; Wearable app design.</em>
                                Whether you're a Ninja or a n00bie at doing any of these things,
                                Pixel Up! is an unmatched opportunity to learn from industry leaders.</strong></p>
                        <p>It's never been done in Africa.
                            For <a href="schedule">3 days in September</a> you can learn from talks and workshops by
                            professionals who’ve worked on some of the worlds most successful
                            digital products at companies like <em>Dropbox</em> and <em>Twitter</em> and <em>Apple</em>. (Yep, we had to namedrop).</p>
                        <p>
                            Maybe you've only heard the buzzwords and don't know much about this stuff.
                            Pixel Up! gives you the perfect chance to get real and practical insights by
                            hanging out with some of the best in the trade.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-by-one-third two-thirds column">
                        <section>
                            <h2>First confirmed speakers</h2>
                            <div class="featured-speaker-list">
                                {% for d in data.speakers %}
                                <div class="featured-speaker">
                                    <a href="/speakers/#{{ d.slug }}">
                                        <div class="">
                                            <img class="photo" src="{{ d.mugshot.url }}"/>
                                        </div>
                                        <div class="spkr-details">
                                            <span class="spkr-name">{{ d.name }}</span>
                                            <span class="spkr-title">{{ d.jobTitle }}</span>
                                            <span class="spkr-company">{{ d.company }}, {{ d.city }}</span>
                                        </div>
                                    </a>
                                 </div>
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                    <div class="offset-by-one-third two-thirds column">
                        <section>
                            <h2>3 days. 12 experts. 3 workshops.</h2>
                            <p><a href="/schedule/#day-1">Day 1</a> and <a href="/schedule/#day-2">Day 2</a> are full single track conference days,
                                where you'll get lots of ideas and inspiration for talks by our <a href="/speakers">12 industry experts</a>.
                                On <a href="/schedule/#day-3">Day 3</a> you'll go beyond inspiration into learning practical skills
                                with 3 full-day workshops delivered by the experts. It's a great day out for teams who want to work together more closely.</p>
                        </section>
                        <section>
                            <h2>Come to Pixel Up! if you:</h2>
                            <ul>
                                <li>Design apps and/or websites</li>
                                <li>Build websites using the latest HTML5, JS and CSS tech</li>
                                <li>Build Native apps for phones, tablets and wearables (TV anyone?)</li>
                                <li>Manage projects that create apps and websites</li>
                                <li>Hire designers</li>
                                <li>Hire web and native app developers</li>
                                <li>Manage (or pay for) medium to large web sites</li>
                                <li>Manage (or pay for) iOS, Android and Windows apps</li>
                                <li>Just wanna hang out with some geeks and designers</li>
                            </ul>
                            <p><a href="#">Our speakers</a> are really good at what they do, make the most of this opportunity to learn from them.</p>
                            <p>P.S.If you're a backend, database, sysops kinda person, we love you. We'd love to hang out with you.
                                But our speakers won't focus on the important stuff you do. Just thought we'd make that clear.</p>
                        </section>
                    </div>
                </div>
                <div class="row">
                        </div>
                        <div class="row">
                        <div class="offset-by-one-third two-thirds column">
                        <section>
                            <h2>Where is it happening?</h2>
                            <p>We've almost finalised the deal on a fantastic venue
                                that showcases the uniqueness of Johannesburg while giving us enough space to work and play.
                                And party. Yes. Party. On the evening of <a href="/schedule/#day-1">Day 1</a>. If you have a <a href="/tickets">Pixel Up! ticket</a>, you're invited.</p>
                        </section>

                    </div>
                    {% include 'templates/mixins/become-a-sponsor.html' %}
                </div>
{% endblock %}
