{% extends "templates/layouts/default.html" %}

{% set title = "Pixel Up!  ·  Sept. 12-14, 2016  ·  Johannesburg" %}

{% block header_content %}
                <h1 class="page-title light">Pixel Up! 2016{#{
                    [
                        'For product designers, thinkers and makers.',
                        'For pixel pushers and software engineers.',
                        'For inspiration and practical skills too.'
                    ]|random
                }#}</h1>
                <h6 class="light">3 Days of inspiration and learning for people who make products with pixels</h6>
                <p class="conf-about">September 12-14, 2016 <br>Johannesburg, South Africa</p>
                <div class="row">
                    <div class="home-btn-wrapper column">
                        <a href="/tickets/" class="btn-home-header button">Tickets on sale</a>
                        {# <a href="/tickets/" class="btn-home-header button">Get email updates</a> #}
                    </div>
                </div>
{% endblock %}

{% block content %}
                <div class="hisdden">
                    <p class="light">
                    <strong>UX design. UI design. Interaction design. Front-end dev. Product management. Responsive web design. Native &amp; Wearable app design.
                        Whether you're a Ninja or a n00bie at any of these things,
                        Pixel Up! gives you an unmatched opportunity to learn from international industry leaders.</strong>
                    </p>
                    <div>
                    <!-- Begin MailChimp Signup Form -->
                        <style type="text/css">
                            #mc_embed_signup{clear:left; }
                        </style>
                        <div id="mc_embed_signup" class="light">
                            <form action="//pixelup.us12.list-manage.com/subscribe/post?u=e1c3f269a754ac1ce4f5878d7&amp;id=2a66fe5f49" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <small>Get conference and speaker updates. #NoSpam.</small>
                                    <div class="mc-field-group">
                                        <label id="lbl_email_subscribe" for="email"><input placeholder="Your email" title="Your email" style="color: #fff" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"></label>
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                    </div>

                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input title="b_e1c3f269a754ac1ce4f5878d7_2a66fe5f49" type="text" name="b_e1c3f269a754ac1ce4f5878d7_2a66fe5f49" tabindex="-1" value=""></div>
                                </div>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <h2>It's never been done in Africa</h2>
                        <p>Speakers who've worked at companies like <em>Dropbox</em> and <em>Twitter</em> and <em>Apple</em> will be in Joburg for <a href="schedule">3 days in September</a>. Join us for their talks and workshops and you'll hear what they've learned from working on some of the worlds most successful digital products. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <section>
                            <h2>First confirmed speakers</h2>
                            <div class="featured-speaker-list">
                                {% for s in data.speakers %}
                                <div class="featured-speaker">
                                    <a href="/speakers/#{{ s.slug }}">
                                        <div class="">
                                            <img class="photo" src="{{ s.mugshot.url }}" alt="{{ s.name }}"/>
                                        </div>
                                        <div class="spkr-details">
                                            <span class="spkr-name">{{ s.name }}</span>
                                            <span class="spkr-title">{{ s.jobTitle }}</span>
                                            <span class="spkr-company">{{ s.company }}, {{ s.city }}</span>
                                        </div>
                                    </a>
                                 </div>
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <section>
                            <h2>3 days. 12 experts. 3 workshops.</h2>
                            <p><a href="/schedule/#day-1">Day 1</a> and <a href="/schedule/#day-2">Day 2</a> are full single track conference days,
                                where you'll get lots of ideas and inspiration for talks by our <a href="/speakers">12 industry experts</a>.
                                On <a href="/schedule/#day-3">Day 3</a> you'll go beyond inspiration into learning practical skills
                                with 3 full-day workshops delivered by the experts. It's a great day out for teams who want to work together more closely.</p>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <section>
                            <h2>Come to Pixel Up! if you:</h2>
                            <ul>
                                <li>Design apps and/or websites</li>
                                <li>Build websites using the latest HTML5, JS and CSS tech</li>
                                <li>Build Native apps for phones, tablets and wearables (TV)</li>
                                <li>Manage projects that create apps and websites</li>
                                <li>Hire designers</li>
                                <li>Hire web and native app developers</li>
                                <li>Manage (or pay for) medium to large web sites</li>
                                <li>Manage (or pay for) iOS, Android and Windows apps</li>
                                <li>Just wanna hang out with some geeks and designers</li>
                            </ul>

                            <div class="pull-out">
                                {%  include 'templates/mixins/panel-convince.html' %}
                            </div>
                            <p><a href="#">Our speakers</a> are really good at what they do, make the most of this opportunity to learn from them.</p>
                            <p>P.S.If you're a backend, database, sysops kinda person, we love you. We'd love to hang out with you.
                                But our speakers won't focus on the important stuff you do. Just thought we'd make that clear.</p>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <section>
                            <h2>THE AMAZING TURBINE HALL</h2>
                            <p>Pixel Up! Conference is happening in this <a href="/venue">fantastic venue</a>
                                that showcases the uniqueness of Johannesburg while giving us enough space to work and play.
                                And party. Yes. Party. On the evening of <a href="/schedule/#day-1">Day 1</a>. If you have a <a href="/tickets">Pixel Up! ticket</a>, you're invited.</p>
                            <img src="/img/turbine-hall-turbines.jpg" alt="Turbine Hall Turbines"/>
                            <br><br>
                        </section>

                    </div>
                </div>
                {% include 'templates/mixins/become-a-sponsor.html' %}

{% endblock %}

{% block performer_microdata %}
{%  include 'templates/mixins/json-ld-performer.html' %}
{% endblock %}
