{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Locations  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}

{% set page_heading = "Locations" %}
{% set page_lead = "Where its at" %}


{% block page_content %}
        
        <section class="content-section">
            <h2 class="section-heading">Because you want to do good<br>
                <small>We contribute part of your fee to a bursary</small>
            </h2>
            {%  include 'templates/views/partials/panel-doGood.html' %}
        </section>

{% endblock %}

