{% extends "templates/layouts/default-with-header.html" %}

{% set title = "About  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}

{% set page_heading = "About Pixel Up!" %}
{% set page_lead = "If you don't know..." %}


{% block page_content %}

        <section class="content-section">
            <h2 class="section-heading">Long form content<br>
                <small>We contribute part of your fee to a bursary</small>
            </h2>
            {%  include 'templates/views/partials/panel-doGood.html' %}
        </section>

{% endblock %}
