{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Partners  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}


{% block left_section_content %}
            <h1 class="page-title">Partners</h1>
            <div class="page-lead-content">
                <ul class="no-bullet">
                    <li><a href="#">Sponsorship pack</a></li>
                </ul>
            </div>
{% endblock %}

{% block page_content %}
        <h4 class="section-lead">If you’re interested in sponsoring Pixel Up!, <a href="#">please get in touch</a>, we’d love for you to be involved.</h4>
        <section>
            <p>We’ve plenty of exciting opportunities, whatever your company size or budget, whether you’d like to have a stand, sponsor one of the delicious food carts, or run a workshop.</p>
            <p>Of course, sponsoring Pixel Up! will connect your brand with some of the most
                influential UX practitioners, organisations and thought leaders in the industry.
            </p>
            <p>
                So this is the perfect opportunity for any company involved in creating apps, websites, usability,
                information architecture or user experience.
            </p>
            <p>
                And with such a high concentration of senior practitioners, Pixel Up! is also the ideal place to recruit new staff.
                <br>
                Join us at Pixel Up! and let your brand be a great part of an industry-leading experience.</p>
            <p>For more details on sponsorship packages, <a href="#">download our sponsorship pack</a> (PDF 1.1Mb).</p>
        </section>

{% endblock %}
