{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Partners  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}


{% block left_section_content %}
            <div class="page-lead-content">
                <ul class="no-bullet">
                    <li><a href="#">Sponsorship pack</a></li>
                </ul>
            </div>
{% endblock %}

{% block page_content %}
        <h2 class="page-title">Sponsors</h2>
        <p class="lead">If you’re interested in sponsoring Pixel Up!, <a href="#">please get in touch</a>, we’d love for you to be involved.</p>
        <section>
            <p>Pixel Up! is a distinctly original event for digital designers and front-end developers in Africa. It’ll be 3 days of inspiration, stimulating talks and hands-on workshops from 14 industry professionals from Europe and the USA.</p>
            <p>Our delegates will gain the practical skills needed to do their jobs better, whether they are UX or UI designers, web or mobile developers or product managers. With speakers who have worked for Apple, Twitter, Dropbox and Facebook, no other event in Africa comes close to this level of training.</p>

            <p>We’ve plenty of exciting opportunities, whatever your company size or budget, whether you’d like to have a stand, sponsor one of the delicious food carts, or run a workshop.</p>
            <p>Of course, sponsoring Pixel Up! will connect your brand with some of the most influential UX practitioners, organisations and thought leaders in the industry.
            </p>
            <p>So this is the perfect opportunity for any company involved in creating apps, websites, usability,
                information architecture or user experience.</p>
            <h3>Who will attend</h3>
            <p>We created Pixel Up! primarily for experienced professionals designing and developing apps and websites in large corporations or agencies.<br>
            <p>That said, we also expect to see a range of other disciplines including product managers looking to improve the experience of their applications and existing designers interested in progressing their careers in the field.
            Attendees are mostly from Southern Africa. The event capacity is 200.</p>
            Job titles include:
            <ul>
                <li>CTO (Chief Technical Offcer)</li>
                <li>Head of UX</li>
                <li>Head of Online / Digital Channels</li>
                <li>UX Manager</li>
                <li>UX Analyst</li>
                <li>Product Manager</li>
                <li>Senior Information Architect</li>

                <li>User Experience Designer</li>
                <li>Usability Consultant</li>
                <li>Interaction Designer</li>
                <li>iOS / Android Developer</li>
                <li>Web Developer</li>
                <li> Business Analyst</li>
            </ul>
            <p>
                And with such a high concentration of senior practitioners, Pixel Up! is also the ideal place to recruit new staff.
                <br>
                Join us at Pixel Up! and let your brand be a great part of an industry-leading experience.</p>
            <p>For more details on sponsorship packages, <a href="#">download our sponsorship pack</a> (PDF 1.1Mb).</p>
        </section>

{% endblock %}
