{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Partners  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}


{% block left_section_content %}
            <div class="page-lead-content">
                <ul class="no-bullet">
                    <li><a href="#">Sponsorship pack</a></li>
                </ul>
            </div>
{% endblock %}

{% block page_content %}
        <h1 class="page-title">Sponsors</h1>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <p class="lead">If you’re interested in sponsoring Pixel Up!, <a href="#">please get in touch</a>, we’d love for you to be involved.</p>
                <p>Pixel Up! is a distinctly original event for digital designers and front-end developers in Africa. It’ll be 3 days of inspiration, stimulating talks and hands-on workshops from 12 industry professionals from Europe and the USA.</p>

                <p>With speakers who have worked for Apple, Twitter, Dropbox and Facebook, no other event in Africa comes close to this level of training.</p>

                <p>We’ve plenty of exciting opportunities, whatever your company size or budget, whether you’d like to have a stand, sponsor one of the delicious food carts, or run a workshop.</p>
            </div>
        </div>
        <div class="row">
            <div class="two-thirds column">
                <h3>Who will attend</h3>
                <p>We created Pixel Up! primarily for experienced professionals designing and developing apps and websites in large corporations or agencies.<br>
                That said, we also expect to see a range of other disciplines including product managers looking to improve the experience of their applications and existing designers interested in progressing their careers in the field.
                Attendees are mostly from Southern Africa. The event capacity is 200.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <strong>Job titles include:</strong>
                <ul>
                    <li>CTO (Chief Technical Offcer)</li>
                    <li>Head of UX</li>
                    <li>Head of Online / Digital Channels</li>
                    <li>UX Manager</li>
                    <li>UX Analyst</li>
                    <li>Product Manager</li>
                    <li>Senior Information Architect</li>

                    <li>User Experience Designer</li>
                    <li>Usability Consultant</li>
                    <li>Interaction Designer</li>
                    <li>iOS / Android Developer</li>
                    <li>Web Developer</li>
                    <li> Business Analyst</li>
                </ul>
            </div>
        </div>
        <p>
            And with such a high concentration of senior practitioners, Pixel Up! is also the ideal place to recruit new staff.
            Join us at Pixel Up! and let your brand be a great part of an industry-leading experience.</p>
        <p>For more details on sponsorship packages, <a href="#">download our sponsorship pack</a> (PDF 1.1Mb).</p>

{% endblock %}
