{% extends "templates/layouts/default.html" %}

{% set title = "{{ data.post.title }}  ·  Pixel Up!" %}
{% block header_content %}
                <h1 class="page-title light">Blog</h1>
                <div class="row">
                    <div class="offset-by-one-third two-thirds column">
                        <!-- <p class="lead light"><strong>You want to level up your skills. You want to learn from the best. You want to be surrounded by people who can help you do that. You want to be at Pixel Up! Here's how to get your boss to give you the green light.</strong></p> -->
                    </div>
                </div>
{% endblock %}

{% block content %}
				<div class="row">
					<div class="one-third column">
						<dl class="meta">
							<dt>Date</dt>
					        <dd>{{ data.post._.publishedDate.format("MMMM Do, YYYY") }}</dd>

							<dt>Reading time</dt>
					        <dd class="eta"></dd>
							{#
					        <dt>Next</dt>
					        <dd><a href="{{ data.post.next }}">{{ data.post.next }}</a></dd>

					        <dt>Previously</dt>
					        <dd><a href="{{ data.post.next }}">{{ data.post.next }}</a></dd>

					        <dt>Subscribe</dt>
					        <dd><a href="http://pixelup.co.za/feed">Subscribe via RSS</a></dd>
							#}
				      </dl>
					</div>
					<div class="two-thirds column">
						<article class="blog-article">
							{% if not data.post %}
								<h2>Invalid Post.</h2>
							{% else %}
								<h1>{{ data.post.title }}</h1>
								<!-- <p class="meta-blog detail">
									By {{ data.post.author.name.first }} on {{ data.post._.publishedDate.format("MMMM Do, YYYY") }}
								</p> -->

								<div class="post">
									{% if data.post.image.exists %}
										<div class="image-wrap">
											<img src="{{ data.post._.image.fit(750,450) }}" class="img-responsive">
										</div>
									{% endif %}
									{{ data.post.content.full|safe }}
								</div>
							{% endif %}
						</article>
					</div>
				</div>
{% endblock %}
