{% extends "templates/layouts/content-view__partial.html" %}

{% set title = "Schedule | PIXEL UP! 2016 in Johannesburg" %}
{% set meta_description = "An impressive lineup of Speakers who've worked at companies like Apple, Dropbox, Twitter and SalesforceUX." %}

{% block meta %}
<update-title title="{{ title }}"></update-title>
<update-meta name="keywords" content="Pixel Up, PIXEL UP!, PixelUp16, ux conference, ux johannesburg, ux south africa, ux design, interaction design, user experience, ux designer, ui design, user interface design"></update-meta>
<update-meta name="description" content="{{ meta_description }}"></update-meta>

<!-- Twitter Card -->
<update-meta name="twitter:card" content="summary_large_image"></update-meta>
<update-meta name="twitter:site" content="@letspixelup"></update-meta>
<update-meta name="twitter:creator" content="@farai_uxguy"></update-meta>
<update-meta name="twitter:title" content="{{ title }}"></update-meta>
<update-meta name="twitter:description" content="{{ meta_description }}"></update-meta>
<update-meta name="twitter:image" content="https://pixelup.co.za/img/pixelup-avatar-twitter-card.png?1139"></update-meta>
<update-meta name="twitter:domain" content="https://pixelup.co.za"></update-meta>

<update-meta property="og:locale" content="en_ZA"></update-meta>
<update-meta property="og:description" content="{{ meta_description }}"></update-meta>
<update-meta property="og:image" content="https://pixelup.co.za/img/avatar-open-graph-fb.png?832"></update-meta>
<update-meta property="og:image:width" content="1200"></update-meta>
<update-meta property="og:image:height" content="628"></update-meta>
<update-meta property="og:site_name" content="PIXEL UP! UX Conference in Johannesburg, September 12 - 14, 2016"></update-meta>
<update-meta property="og:title" content="{{ title }}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>
<update-meta property="og:url" content="https://pixelup.co.za{{ urlPath }}"></update-meta>
<update-meta property="article:publisher" content="https://www.facebook.com/letspixelup"></update-meta>


{% endblock %}

{% block header_content %}
                <h1 class="hero__header">12 talks. 3 workshops. And a party.</h1>
                <p class="caption">
                    Talks: Monday and Tuesday. Workshops : Wednesday.
                </p>
{% endblock %}

{% macro listingItem(item) %}
            <div class="Listing">
                <span class="Listing-meta">{{ item.startTime | date('HH:mm') }} - {{ item.endTime | date('HH:mm') }}</span>
                <div class="Card Card--listing Listings-{{ item.speakers.length }} {% if item.type == 'break' %}Card--listing-break{% endif %}">
                    <a href="/speakers/{{ item.speakers[0].slug }}" class="Listing-title"><strong>{{ item.title }}</strong></a>
                    {% for s in item.speakers %}
                    <div class="Listing-body {% if not loop.first %}Listing-body--second-listing{% endif %}">
                        <a href="/speakers/{{ s.slug }}"><img class="Card-image {% if not loop.first %}Card-image--second-listing{% endif %}" src="{{ s.mugshot.secure_url }}" alt="{{ s.name.full }}"></a>
                        <span class="Card-title p-name">{{ s.name.full }}</span>
                        <p class="Card-copy caption">{{ s.jobTitle }}{% if s.company %}, {{ s.company }}{% endif %}</p>
                    </div>
                    {% endfor %}
                </div><!--/.Card Card--listing-->
            </div>
{% endmacro %}

{% block content %}
        <div class="section-layout section-layout--no-padding">
            <section class="section typeset container">
                <div class="Tab-nav active">
                    <a class="Tab-nav-item" ng-class="{ 'Tab-nav-item--selected': isCurrentTab(1) }" href ng-click="setCurrentTab(1)">Day One</a>
                    <a class="Tab-nav-item" ng-class="{ 'Tab-nav-item--selected': isCurrentTab(2) }" href ng-click="setCurrentTab(2)">Day Two</a>
                    <a class="Tab-nav-item" ng-class="{ 'Tab-nav-item--selected': isCurrentTab(3) }" href ng-click="setCurrentTab(3)">Day Three</a>
                </div>
                <section class="event-day" id="day-one" ng-show="isCurrentTab(1)">
                    <h2><span>Monday, Sept. 12</span></h2>
                    <p>Along with the continental breakfast, you’ll get an amazing lunch, beverage breaks and nibbles throughout the day.</p>
                    {% for i in data.scheduleItems %}
                    {% if (i.startTime | date('dddd'))=="Monday" %}
                        {{ listingItem(i) }}
                    {% endif %}
                    {% endfor %}
                </section>
                <section class="event-day" id="day-two" ng-show="isCurrentTab(2)">
                    <h2><span>Tuesday, Sept. 13</span></h2>
                    <p>Along with the continental breakfast, you’ll get an amazing lunch, beverage breaks and nibbles throughout the day.</p>

                    {% for i in data.scheduleItems %}
                    {% if (i.startTime | date('dddd'))=="Tuesday" %}
                        {{ listingItem(i) }}
                    {% endif %}
                    {% endfor %}

                </section>
                <section class="event-day" id="day-three" ng-show="isCurrentTab(3)">
                    <h2><span>Wednesday, Sept. 14</span></h2>
                    <p>Day 3 is workshop day. All day workshops starting at 9am and ending at 4pm. Go beyond inspiration and immerse yourself in groundbreaking design &amp; development skills you won’t find anywhere else. Get your team on the same page with proven methods, tools and clear-cut direction on specific actions and skills. </p>

                    {% for i in data.scheduleItems %}
                    {% if (i.startTime | date('dddd'))=="Wednesday" %}
                        {{ listingItem(i) }}
                    {% endif %}
                    {% endfor %}

                </section>
            </div>
            <div class="section-layout section-layout--left section-layout--pink">
                <section class="section typeset container">
                    <div class="row">
                        <div class="one-half column">
                            <h4>Workshops include:</h4>
                            <ul>
                                <li>Snacks all day </li>
                                <li>Drinks all day</li>
                                <li>Lunch</li>
                            </ul>
                            <h4>You should bring:</h4>
                            <ul>
                                <li>Your laptop</li>
                                <li>Your laptop charger</li>
                            </ul>
                        </div>
                        <div class="one-half column">
                            <h4>Workshop tickets</h4>
                            <p>Workshops tickets are <strong>R3,500.00</strong>. Workshop tickets are valid for the workshop only. For the conference days you'll need an extra ticket.</p>
                        </div>
                    </div>

                </section>
            </section>
        </div>
        {#
        <div class="section-layout section-layout--left">
            <section class="section typeset container">
                        <section>
                        <h3>Because you want to do good<br>
                            <small>We contribute part of your fee to a bursary</small>
                        </h3>
                        {%  include 'templates/views/partials/panel-doGood.html' %}
                    </section>
            </section>
        </div>
        #}
{% endblock %}
