{% extends "templates/layouts/default.html" %}

{% set title = "Schedule  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}

{% block left_section_content %}
            <div class="page-lead-content">
                <ul class="no-bullet">
                    <li><a href="#day-1">Day One - Talks</a></li>
                    <li><a href="#day-2">Day Two - Talks</a></li>
                    <li><a href="#day-3">Day Three - Workshops</a></li>
                </ul>
            </div>
{% endblock %}

{% block content %}
        <h1 class="page-title">Schedule</h1>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <p><strong>Monday and Tuesday are conference days, filled with inspirational talks. On Wednesday
                    you can join one of our hands-on workshops.</strong>
                </p>
                <section class="event-day" id="arrival" data-daynumber="0">
                    <h3><span class="">Arrival Day</span> <span>Sunday, Sept. 11</span></h3>
                    <p>Avoid the check-in line Monday morning by checking in Sunday afternoon. Then join us for some early networking over drinks at the pre-party. No worries if you can’t make it, registration opens at 7:30am on Monday.</p>
                    <ol class="sessions">
                        <li class="single-session non-speaker row">
                            <time>4:00pm-6:00pm</time>
                            <span>Registration &amp; Pre-party</span>
                        </li>
                    </ol>

                </section>
            </div>
        </div>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <section class="event-day" id="day-1" data-daynumber="1">
                    <h3><span class="">Day One</span> <span>Monday, Sept. 12</span></h3>
                    <p>Along with the continental breakfast, you’ll get an amazing lunch, beverage breaks and nibbles throughout the day.</p>
                    <ol class="sessions">
                        <li class="single-session non-speaker">
                            <time>7:30am - 8:55am</time>
                            <span>Breakfast</span>
                        </li>
                        <li class="single-session non-speaker">
                            <time>8:55am - 9:00am</time>
                            <span>Morning Welcome</span>
                        </li>
                        <li class="single-session">
                            <time>9:00am - 9:45am</time>
                            <span>Speaker : TBC</span>
                        </li>
                        <li class="single-session non-speaker">
                            <time>9:45am - 10:00am</time>
                            <span>Coffee &amp; Chill</span>
                        </li>
                        <li class="single-session">
                            <time>10:00am - 10:45am</time>
                            <span>Speaker : TBC</span>
                        </li>
                        <li class="single-session non-speaker">
                            <time>10:45am - 11:00am</time>
                            <span>Coffee &amp; Chill</span>
                        </li>
                        <li class="single-session">
                            <time>11:00am - 11:45pm</time>
                            <span>Speaker : TBC</span>
                        </li>
                        <li class="single-session non-speaker ">
                            <time>11:45pm - 1:15pm</time>
                            <span>Lunch</span>
                        </li>
                        <li class="single-session ">
                            <time>1:15pm - 2:00pm</time>
                            <span>Speaker : TBC</span>
                        </li>
                        <li class="single-session non-speaker ">
                            <time>2:00pm - 2:15pm</time>
                            <span>Coffee &amp; Chill</span>
                        </li>
                        <li class="single-session ">
                            <time>2:15pm - 3:00pm</time>
                            <span>Speaker : TBC</span>
                        </li>
                        <li class="single-session non-speaker ">
                            <time>3:00pm - 3:15pm</time>
                            <span>Coffee &amp; Chill</span>
                        </li>
                        <li class="single-session ">
                            <time>3:15pm - 4:00pm</time>
                            <span>Speaker : TBC</span>
                        </li>
                        <li class="single-session non-speaker">
                            <time>4:00pm - 5:00pm</time>
                            <span>A break</span>
                        </li>
                        <li class="single-session ">
                            <time>5:00pm - Later</time>
                            <span>Party for all attendees</span>
                        </li>
                    </ol>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <section class="event-day" id="day-2" data-daynumber="2">
                    <h3><span class="">Day Two</span> <span>Tuesday, Sept. 13</span></h3>
                    <p>Along with the continental breakfast, you’ll get an amazing lunch, beverage breaks and nibbles throughout the day.</p>
                    <ol class="sessions">
                        <li class="single-session non-speaker">
                            <time>7:30am - 8:55am</time>
                            <span>Breakfast</span>
                        </li>
                        <li class="single-session non-speaker">
                            <time>8:55am - 9:00am</time>
                            <span>Morning Welcome</span>
                        </li>
                        <li class="single-session">
                            <time>9:00am - 9:45am</time>
                            <span>Speaker : TBC</span>
                        </li>
                        <li class="single-session non-speaker">
                            <time>9:45am - 10:00am</time>
                            <span>Coffee &amp; Chill</span>
                        </li>
                        <li class="single-session">
                            <time>10:00am - 10:45am</time>
                            <span>Speaker : TBC</span>
                        </li>
                        <li class="single-session non-speaker">
                            <time>10:45am - 11:00am</time>
                            <span>Coffee &amp; Chill</span>
                        </li>
                        <li class="single-session">
                            <time>11:00am - 11:45pm</time>
                            <span>Speaker : TBC</span>
                        </li>
                        <li class="single-session non-speaker ">
                            <time>11:45pm - 1:15pm</time>
                            <span>Lunch</span>
                        </li>
                        <li class="single-session ">
                            <time>1:15pm - 2:00pm</time>
                            <span>Speaker : TBC</span>
                        </li>
                        <li class="single-session non-speaker ">
                            <time>2:00pm - 2:15pm</time>
                            <span>Coffee &amp; Chill</span>
                        </li>
                        <li class="single-session ">
                            <time>2:15pm - 3:00pm</time>
                            <span>Speaker : TBC</span>
                        </li>
                        <li class="single-session non-speaker ">
                            <time>3:00pm - 3:15pm</time>
                            <span>Coffee &amp; Chill</span>
                        </li>
                        <li class="single-session ">
                            <time>3:15pm - 4:00pm</time>
                            <span>Speaker : TBC</span>
                        </li>
                    </ol>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <section class="event-day" id="day-3" data-daynumber="3">
                    <h3><span class="">Day Three</span> <span>Wednesday, Sept. 14</span></h3>
                    <p>Day 3 is workshop day. Go beyond inspiration and immerse yourself in groundbreaking design &amp; development skills you won’t find anywhere else. Get your team on the same page with proven methods, tools and clear-cut direction on specific actions and skills. </p>
                    <p>Once the schedule is complete we'll update this page. <a href="#">Stay in touch</a> to make sure you get one of our limited workshop seats.</p>
                    <p></p>
                    <div class="row">
                        <div class="one-half column">
                            <p>Full day workshops include:</p>
                            <ul>
                                <li>Snacks and drinks all day</li>
                                <li>Lunch</li>
                            </ul>
                            <p>You should bring:</p>
                            <ul>
                                <li>Your laptop</li>
                                <li>Your laptop charger</li>
                            </ul>
                        </div>
                        <div class="one-half column">
                            <p>Workshop tickets</p>
                            <p>Tickets for the one day workshops are <strong>R3,500.00</strong>. Workshop tickets are valid for the workshop only. To attend the conference days an extra ticket is needed.<br> All workshops start at 9:00am and end at 4:00pm.</p>
                        </div>
                    </div>

                </section>
            </div>
        </div>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                    {#
                        <section>
                        <h3>Because you want to do good<br>
                            <small>We contribute part of your fee to a bursary</small>
                        </h3>
                        {%  include 'templates/views/partials/panel-doGood.html' %}
                    </section>
                    #}
            </div>
        </div>
    {% include 'templates/mixins/become-a-sponsor.html' %}
{% endblock %}
