{% extends "templates/layouts/default-no-angular.html" %}
{% block header_content %}
                <h1 class="hero__header">PIXEL UP! Scribble Sticks Kit</h1>
                <h6 class="hero__lead">
                    Because good ideas need good tools.
                </h6>
{% endblock %}

{% block content %}
                <div class="section-layout">
                    <section class="section typeset container">

						<article class="article article--single ">
                            <h2>SOLD OUT.</h2>
                            <p class="caption--centered">
                                <img src="/img/kit.png" alt="">
                            </p>
                            <p>If you're reading this, it's probably because you got one of the last ones. Follow us on twitter <a href="https://twitter.com/letspixelup">@letspixelup</a> and you'll be first to know when we get some more.</p>

                        </article>
                    </section>
                </div>
{% endblock %}
