{% extends "templates/layouts/default.html" %}

{% set title = "Social  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}

{% block content %}
        <header class="fullWidth hero">  
            <h2>Side shows</h2>
            <h4>
                <span>Hang out and about</span>
            </h4>
        </header>
        <hr>
        <section class="content-section">
            <p>We are interested any free events taking place around Pixel Up! 2016. If you run a user group or meet-up and want to organise a side event between Sunday, September 11 and Wednesday, 14 September 2016, <a href="mailto:hello@pixelup.co.za">email us</a> and we'll feature it here on our site.</p>
        </section>
{% endblock %}

