{% extends "templates/layouts/default.html" %}

{% set title = "Social  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}

{% block content %}
        <header class="fullWidth hero">  
            <h2>Social</h2>
            <h4>
                <span>Hang out and about</span>
            </h4>
        </header>
        <hr>
        <section class="content-section">
            <h2 class="section-heading">Because you want to do good<br>
                <small>We contribute part of your fee to a bursary</small>
            </h2>
            {%  include 'templates/views/partials/panel-doGood.html' %}
        </section>
{% endblock %}

