{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Speakers · Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}

{% set page_heading = "Speakers" %}
{% set page_lead = "Hand-picked to get the conversations started" %}

{% block page_content %}
        <section class="content-section">
            {% for s in data.speakers %}
            <article id="{{ s.slug }}" class="row speaker-list-item">
                <div class="medium-2 columns">
                    <figure>
                        <div class="avatar-frame"><span>{{ s.initials }}</span></div>
                        <!--<img class="photo" src="{{ s.mugshot.url }}"/>-->
                    </figure>
                </div>
                <div class="medium-10 columns">
                    <h3>{{ s.name }}</h3>
                    <p>
                        {{ s.jobTitle }} at <span class="company">{{ s.company }}</span> &mdash; {{ s.city }}</span> <br>
                        <a href="https://twitter.com/{{ s.twitter }}">{{ s.twitter }}</a>
                        {% if s.website %} • <a href="http://{{ s.website }}">{{ s.website }}</a> {% endif %}
                    </p>
                    <p>{{ s.content.shortDesc.html }}</p>
                    <hr>
                </div>
            </article>
            {% endfor %}
            <article class="row speaker-list-item">
                <div class="medium-2 columns">
                    <figure>
                        <div class="avatar-frame"><span>...</span></div>
                        <!--<img class="photo" src="{{ s.mugshot.url }}"/>-->
                    </figure>
                </div>
                <div class="medium-10  columns">
                    <h5>More speakers will be announced soon.</h5>
                    <p>Stay up to date by signing up to our newsletter. No spam, just important updates about new speakers, workshops and events.</p>
                    {%  include 'templates/mixins/newsletter-signup.html' %}
                </div>
            </article>

        </section>
        <hr>
        <section class="content-section">
            <h2 class="section-heading">Because you want to do good<br>
                <small>We contribute part of your attendance fee to a bursary</small>
            </h2>
            {%  include 'templates/views/partials/panel-doGood.html' %}
        </section>
        <hr>
        {% include 'templates/mixins/become-a-sponsor.html' %}

{% endblock %}
