{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Speakers · Pixel Up!  ·  Sept. 12-14, 2016  ·  Johannesburg" %}

{% block header_content %}
                <h1 class="page-title light">Handpicked speakers.<br> Well seasoned.</h1>
                <div class="row">
                    <div class="column">
                        <p class="lead light"><strong>Learn from the authors, directors and designers with years of experience working at companies like Dropbox, Twitter and SalesforceUX.</strong></p>
                    </div>
                </div>
{% endblock %}

{% block page_content %}
        <section class="row">
        <div class="featured-speaker-list">
            {% for s in data.speakers %}
            <div class="featured-speaker">
                <a href="/speakers/{{ s.slug }}/">
                    <div class="">
                        <img class="photo" src="{{ s.mugshot.url }}" alt="{{ s.name }}"/>
                    </div>
                    <div class="spkr-details">
                        <span class="spkr-name">{{ s.name }}</span>
                        <span class="spkr-title">{{ s.jobTitle }}</span>
                        <span class="spkr-company">{{ s.company }}, {{ s.city }}</span>
                    </div>
                </a>
             </div>
            {% endfor %}
        </div>
        </section>
        <section class="row">
            <div class="column pull-out">
                {%  include 'templates/mixins/panel-convince.html' %}
            </div>
        </section>
{% endblock %}

{% block performer_microdata %}
{%  include 'templates/mixins/json-ld-performer.html' %}
{% endblock %}
