{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Speakers · Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}

{% block page_content %}
        <h1 class="page-title">Handpicked speakers.<br> Well seasoned.</h1>

        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <p class="lead"><strong>Learn from the authors, directors and designers with years of experience working at companies like Dropbox, Twitter and Lego.</strong></p>
            </div>
        </div>
        <section class="row">

            {% for s in data.speakers %}
            <article id="{{ s.slug }}" class="offset-by-one-third two-thirds column speaker-list-item">
                <img class="photo" src="{{ s.mugshot.url }}"/>
                <div class="spkr-details">
                    <h3>{{ s.name }}</h3>
                    <p class="spkr-title">
                        <span class="job-title">{{ s.jobTitle }}</span> <br> <span class="company">{{ s.company }}</span> • <span class="city">{{ s.city }}</span>
                        <br><a href="https://twitter.com/{{ s.twitter }}">{{ s.twitter }}</a>
                    </p>
                </div>
                <div class="spkr-desc">
                    {{ s.content.shortDesc.html }}
                </div>
            </article>
            {% endfor %}

        </section>
        <section class="row">
            <div class="offset-by-one-third two-thirds column pull-out">
                {%  include 'templates/mixins/panel-convince.html' %}
            </div>
        </section>
{% endblock %}

{% block performer_microdata %}
{%  include 'templates/mixins/json-ld-performer.html' %}
{% endblock %}
