{% extends "templates/layouts/content-view__partial.html" %}

{% set title = "Sponsors &amp; Partners | PIXEL UP! 2016 in Johannesburg" %}
{% block meta %}
<update-title title="{{ title }}"></update-title>
<update-meta name="keywords" content="Pixel Up, PIXEL UP!, PixelUp16, ux conference, ux johannesburg, ux south africa, ux design, interaction design, user experience, ux designer, ui design, user interface design">
<update-meta name="description" content="{{ meta_description }}">

<!-- Twitter Card -->
<update-meta name="twitter:card" content="summary_large_image">
<update-meta name="twitter:site" content="@letspixelup">
<update-meta name="twitter:creator" content="@farai_uxguy">
<update-meta name="twitter:title" content="{{ title }}">
<update-meta name="twitter:description" content="{{ meta_description }}">
<update-meta name="twitter:image" content="https://pixelup.co.za/img/pixelup-avatar-twitter-card.png?1139">
<update-meta name="twitter:domain" content="https://pixelup.co.za">

<update-meta property="og:locale" content="en_ZA">
<update-meta property="og:description" content="{{ meta_description }}">
<update-meta property="og:image" content="https://pixelup.co.za/img/avatar-open-graph-fb.png?832">
<update-meta property="og:image:width" content="1200">
<update-meta property="og:image:height" content="628">
<update-meta property="og:site_name" content="PIXEL UP! UX Conference in Johannesburg, September 12 - 14, 2016">
<update-meta property="og:title" content="{{ title }}">
<update-meta property="og:type" content="website">
<update-meta property="og:url" content="https://pixelup.co.za{{ urlPath }}">
<update-meta property="article:publisher" content="https://www.facebook.com/letspixelup">
{% endblock%}

{% block header_content %}
                <h1 class="hero__header">Support us. Get visibility</h1>
                <p class="caption">Get your brand in front of SA's top product thinkers and makers..</p>
{% endblock %}
{% block content %}
                <div class="section-layout section-layout--no-padding">
                    <section class="section typeset container">
                        <h2>Premier Sponsor</h2>
                        {% for s in data.sponsors.Premier %}
                        <img class="sponsor-logo sponsor-logo--premier" src="{{ s.logo.secure_url }}"/>
                        {% endfor%}
                    </section>
                </div>
                <div class="section-layout">
                    <section class="section typeset container">
                        <h2>Who will attend</h2>
                        <p>We created PIXEL UP! primarily for experienced professionals designing and developing apps and websites in large corporations or agencies. We expect 200 attendees mostly from Southern Africa.</p>
                        <strong>Job titles include:</strong>
                        <div class="row">
                            <div class="one-half column">
                                <ul>
                                    <li>CTO (Chief Technical Officer)</li>
                                    <li>Head of UX</li>
                                    <li>Head of Online</li>
                                    <li>Head of Digital</li>
                                    <li>UX Manager</li>
                                    <li>UX Analyst</li>
                                    <li>Product Manager</li>
                                </ul>
                            </div>
                            <div class="one-half column">
                                <ul>
                                    <li>Senior Information Architect</li>
                                    <li>User Experience Designer</li>
                                    <li>Usability Consultant</li>
                                    <li>Interaction Designer</li>
                                    <li>iOS / Android Developer</li>
                                    <li>Web Developer</li>
                                    <li> Business Analyst</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="section-layout section-layout--no-padding">
                    <section class="section typeset container">
                        <h2>Sponsorship Pricing Level and Benefits</h2>
                        <p>We have pricing levels to suit small, mid and large companies. We don't negotiate pricing tiers, but let's chat if you have ideas about how you want your sponsorship to benefit your business.</p>
                        <div class="sponsorship-detail">
                            <h2>Premier - R150,000</h2>
                            <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                            <ul>
                                <li>Introduce keynote speaker</li>
                                <li>Listing as premier sponsor on all marketing collateral</li>
                                <li>Listing in all press releases</li>
                                <li>2 Invitations to speakers dinner</li>
                                <li>Exhibition space</li>
                                <li>Logo on banner next to conference screen</li>
                                <li>Top logo placement &amp; description on website</li>
                                <li>Logo on name badge / schedule</li>
                                <li>12 conference passes</li>
                            </ul>
                        </div>
                        <div class="sponsorship-detail">
                            <h2>Executive - R75,000</h2>
                            <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                            <ul>
                                <li>Logo on banner next to conference screen</li>
                                <li>Top logo placement &amp; description on website</li>
                                <li>Logo on name badge / schedule</li>
                                <li>6 conference passes</li>
                            </ul>
                        </div>
                        <div class="sponsorship-detail">
                            <h2>Associate - R50,000</h2>
                            <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                            <ul>
                                <li>Logo on banner next to conference screen</li>
                                <li>Linked logo on website</li>
                                <li>Logo on name badge / schedule </li>
                                <li>2 conference passes</li>
                            </ul>
                        </div>
                        <div class="sponsorship-detail">
                            <h2>Startup - R7,500</h2>
                            <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                            <ul>
                                <li>Linked logo on website</li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="section-layout section-layout--two-slopes section-layout--blue">
                    <section class="section typeset container">
                        <div id="more-ways-to-sponsor">
                            <h2>More ways to sponsor</h2>
                            <p>For each of the items below, PIXEL UP! and Ampli5yd are already covering part of the cost. These are economical opportunities to get your brand in front of some serious UX, UI, Product and Front-End development professionals.</p>
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Sponsorship</th>
                                        <th>Price</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="sponsorship-title">The Daily Coffee Cart</span>
                                            <span class="sponsorship-places">2 places available</span>
                                            <span class="sponsorship-desc">Designers &amp; devs love good coffee. You can provide branded cup sleeves, or ask the baristas to wear an apron bearing your company logo!</span>
                                        </td>
                                        <td class="sponsorship-price">R12,000</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="sponsorship-title">Drinks &amp; Water Bottles</span>
                                            <span class="sponsorship-places">1 places available</span>
                                            <span class="sponsorship-desc">Your logo on the water bottles on every table for all 3 days.</span>
                                        </td>
                                        <td class="sponsorship-price">R5,000</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="sponsorship-title">Lunch</span>
                                            <span class="sponsorship-places">2 places available</span>
                                            <span class="sponsorship-desc">The food will be awesome, we'll get the servers to wear your corporate t-shirt.</span>
                                        </td>
                                        <td class="sponsorship-price">R40,000</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="sponsorship-title">Internet &amp; Wi-fi</span>
                                            <span class="sponsorship-places">1 place available</span>
                                            <span class="sponsorship-desc">At every intermission, we'll put your name on the screen, to remind people we have you to thank for keeping the megabytes flowing.</span>
                                        </td>
                                        <td class="sponsorship-price">R15,000</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="sponsorship-title">Photo Booth</span>
                                            <span class="sponsorship-places">1 place available</span>
                                            <span class="sponsorship-desc">Your logo on the water bottles on every table for all 3 days.</span>
                                        </td>
                                        <td class="sponsorship-price">R6,000</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="sponsorship-title">Lanyards</span>
                                            <span class="sponsorship-places">1 place available</span>
                                            <span class="sponsorship-desc">Your name on the back of the badge, close to everyone’s hearts.</span>
                                        </td>
                                        <td class="sponsorship-price">R15,000</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="sponsorship-title">Networking party</span>
                                            <span class="sponsorship-places">1 place available</span>
                                            <span class="sponsorship-desc">Drinks and toasts are on you.</span>
                                        </td>
                                        <td class="sponsorship-price">R15,000</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="sponsorship-title">Ice Cream Cart</span>
                                            <span class="sponsorship-places">2 places available</span>
                                            <span class="sponsorship-desc">Keep everyone cool during the hot weather.</span>
                                        </td>
                                        <td class="sponsorship-price">R15,000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <p>
                                PIXEL UP! is also the ideal place to recruit new staff #JustSaying.
                                Join us at PIXEL UP! and let your brand be a great part of an industry-leading experience.</p>
                            <p>Need it in writing? <a href="/has/downloads/for/sponsors/Pixel_Up!_Sponsorship_Pack.pdf">Download our sponsorship pack</a> (PDF 1.7Mb).</p>
                        </div>
                        <div id="more-ways-to-sponsor">
                            <h2>Got something else in mind?</h2>
                            <p>If you have other ideas that we haven't listed here, we'd love to hear from you: email our sponsorship guy <a href="mailto:calton@ampli5yd.com">Calton Nhando</a>.</p>
                        </div>
                    </section>
                </div>
        {% endblock %}
