{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Sponsors  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}
{% block header_content %}
                <h1 class="page-title light">Support us. Get visibility, leads. Maybe recruits?</h1>
                <div class="row">
                    <div class="offset-by-one-third two-thirds column">
                        <p class="lead light">Pixel Up! sponsorship can get your company visibility, leads, recruits among the professional web and mobile app design and development community.</p>
                    </div>
                </div>
{% endblock %}
{% block page_content %}
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <p>With speakers who have worked for Apple, Twitter, Dropbox and Facebook, no other event in Africa comes close to this level of training.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <h2>Who will attend</h2>
                <p>We created Pixel Up! primarily for experienced professionals designing and developing apps and websites in large corporations or agencies. We expect 200 attendees mostly from Southern Africa.</p>
                <strong>Job titles include:</strong>
                <div class="row">
                    <div class="one-half column">
                        <ul>
                            <li>CTO (Chief Technical Offcer)</li>
                            <li>Head of UX</li>
                            <li>Head of Online</li>
                            <li>Head of Digital</li>
                            <li>UX Manager</li>
                            <li>UX Analyst</li>
                            <li>Product Manager</li>
                        </ul>
                    </div>
                    <div class="one-half column">
                        <ul>
                            <li>Senior Information Architect</li>
                            <li>User Experience Designer</li>
                            <li>Usability Consultant</li>
                            <li>Interaction Designer</li>
                            <li>iOS / Android Developer</li>
                            <li>Web Developer</li>
                            <li> Business Analyst</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <p>
                    Pixel Up! is also the ideal place to recruit new staff #JustSaying.
                    Join us at Pixel Up! and let your brand be a great part of an industry-leading experience.</p>
                <p>Need it in writing? <a href="/has/downloads/for/sponsors/Pixel_Up!_Sponsorship_Pack.pdf">Download our sponsorship pack</a> (PDF 1.7Mb).</p>
            </div>
        </div>

        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <h2>Sponsorship Pricing Level and Benefits</h2>
                <p>We have pricing levels to suit small, mid and large companies. We don't negotiate pricing tiers, but let's chat if you have ideas about how you want your sponsorship to benefit your business.</p>
                <div class="sponsorship-detail">
                    <h2>Premier - R150,000</h2>
                    <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                    <ul>
                        <li>Introduce keynote speaker</li>
                        <li>Listing as premier sponsor on all marketing collateral</li>
                        <li>Listing in all press releases</li>
                        <li>2 Invitations to speakers dinner</li>
                        <li>Exhibition space</li>
                        <li>Logo on banner next to conference screen</li>
                        <li>Top logo placement &amp; description on website</li>
                        <li>Logo on name badge / schedule</li>
                        <li>12 conference passes</li>
                    </ul>
                </div>
                <div class="sponsorship-detail">
                    <h2>Executive - R75,000</h2>
                    <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                    <ul>
                        <li>Logo on banner next to conference screen</li>
                        <li>Top logo placement &amp; description on website</li>
                        <li>Logo on name badge / schedule</li>
                        <li>6 conference passes</li>
                    </ul>
                </div>
                <div class="sponsorship-detail">
                    <h2>Associate - R50,000</h2>
                    <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                    <ul>
                        <li>Logo on banner next to conference screen</li>
                        <li>Linked logo on website</li>
                        <li>Logo on name badge / schedule </li>
                        <li>2 conference passes</li>
                    </ul>
                </div>
                <div class="sponsorship-detail">
                    <h2>Startup - R7,500</h2>
                    <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                    <ul>
                        <li>Linked logo on website</li>
                    </ul>
                </div>
                <div id="more-ways-to-sponsor">
                    <h2>More ways to sponsor</h2>
                    <p>For each of the items below, Pixel Up! and Ampli5yd are already covering part of the cost. These are economical opportunities to get your brand in front of some serious UX, UI, Product and Front-End development professionals.</p>
                    <table>
                        <tbody>
                            <tr>
                                <th>Sponsorship</th>
                                <th>Price</th>
                            </tr>
                            <tr>
                                <td>
                                    <span class="sponsorship-title">The Daily Coffee Cart</span>
                                    <span class="sponsorship-places">2 places available</span>
                                    <span class="sponsorship-desc">Designers &amp; devs love good coffee. You can provide branded cup sleeves, or ask the baristas to wear an apron bearing your company logo!</span>
                                </td>
                                <td class="sponsorship-price">R12,000</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="sponsorship-title">Drinks &amp; Water Bottles</span>
                                    <span class="sponsorship-places">1 places available</span>
                                    <span class="sponsorship-desc">Your logo on the water bottles on every table for all 3 days.</span>
                                </td>
                                <td class="sponsorship-price">R5,000</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="sponsorship-title">Lunch</span>
                                    <span class="sponsorship-places">2 places available</span>
                                    <span class="sponsorship-desc">The food will be awesome, we'll get the servers to wear your corporate t-shirt.</span>
                                </td>
                                <td class="sponsorship-price">R40,000</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="sponsorship-title">Internet &amp; Wi-fi</span>
                                    <span class="sponsorship-places">1 place available</span>
                                    <span class="sponsorship-desc">At every intermission, we'll put your name on the screen, to remind people we have you to thank for keeping the megabytes flowing.</span>
                                </td>
                                <td class="sponsorship-price">R15,000</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="sponsorship-title">Photo Booth</span>
                                    <span class="sponsorship-places">1 place available</span>
                                    <span class="sponsorship-desc">Your logo on the water bottles on every table for all 3 days.</span>
                                </td>
                                <td class="sponsorship-price">R6,000</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="sponsorship-title">Lanyards</span>
                                    <span class="sponsorship-places">1 place available</span>
                                    <span class="sponsorship-desc">Your name on the back of the badge, close to everyone’s hearts.</span>
                                </td>
                                <td class="sponsorship-price">R15,000</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="sponsorship-title">Networking party</span>
                                    <span class="sponsorship-places">1 place available</span>
                                    <span class="sponsorship-desc">Drinks and toasts are on you.</span>
                                </td>
                                <td class="sponsorship-price">R15,000</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="sponsorship-title">Ice Cream Cart</span>
                                    <span class="sponsorship-places">2 places available</span>
                                    <span class="sponsorship-desc">Keep everyone cool during the hot weather.</span>
                                </td>
                                <td class="sponsorship-price">R15,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="more-ways-to-sponsor">
                    <h2>Got something else in mind?</h2>
                    <p>If you have other ideas that we haven't listed here, we'd love to hear from you: email our sponsorship guy <a href="calton@ampli5yd.com">Calton Nhando</a>.</p>
                </div>
            </div>
        </div>
{% endblock %}
