{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Partners  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}


{% block left_section_content %}
            <div class="page-lead-content">
                <ul class="no-bullet">
                    <li><a href="#">Sponsorship pack</a></li>
                </ul>
            </div>
{% endblock %}

{% block page_content %}
        <h1 class="page-title">Sponsors</h1>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <p class="lead">Pixel Up! sponsorship can get your company visibility, leads, recruits among the professional web and mobile app design and development community.</p>
                <p>With speakers who have worked for Apple, Twitter, Dropbox and Facebook, no other event in Africa comes close to this level of training.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <h2>Who will attend</h2>
                <p>We created Pixel Up! primarily for experienced professionals designing and developing apps and websites in large corporations or agencies. We expect 200 attendees mostly from Southern Africa.</p>
                <strong>Job titles include:</strong>
                <div class="row">
                    <div class="one-half column">
                        <ul>
                            <li>CTO (Chief Technical Offcer)</li>
                            <li>Head of UX</li>
                            <li>Head of Online / Digital Channels</li>
                            <li>UX Manager</li>
                            <li>UX Analyst</li>
                            <li>Product Manager</li>
                        </ul>
                    </div>
                    <div class="one-half column">
                        <ul>
                            <li>Senior Information Architect</li>
                            <li>User Experience Designer</li>
                            <li>Usability Consultant</li>
                            <li>Interaction Designer</li>
                            <li>iOS / Android Developer</li>
                            <li>Web Developer</li>
                            <li> Business Analyst</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <p>
                    Pixel Up! is also the ideal place to recruit new staff #JustSaying.
                    Join us at Pixel Up! and let your brand be a great part of an industry-leading experience.</p>
                <p>Need it in writing? <a href="/has/downloads/for/sponsors/Pixel_Up!_Sponsorship_Pack_v6.pdf">Download our sponsorship pack</a> (PDF 1.1Mb).</p>
            </div>
        </div>

        <div class="row">
            <div class="offset-by-one-third two-thirds column">
                <h2>Sponsorship Pricing Level and Benefits</h2>
                <p>We have pricing levels to suit small, mid and large companies. We don't negotiate pricing tiers, but let's chat if you have ideas about how you want your sponsorship to benefit your business.</p>
                <div class="sponsorship-detail">
                    <h3>Premier - R150,000</h3>
                    <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                    <ul>
                        <li>Introduce keynote speaker</li>
                        <li>Listing as premier sponsor on all marketing collateral</li>
                        <li>Listing in all press releases</li>
                        <li>2 Invitations to speakers dinner</li>
                        <li>Exhibition space</li>
                        <li>Logo on banner next to conference screen</li>
                        <li>Top logo placement &amp; description on website</li>
                        <li>Logo on name badge / schedule</li>
                        <li>12 conference passes</li>
                    </ul>
                </div>
                <div class="sponsorship-detail">
                    <h3>Executive - R75,000</h3>
                    <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                    <ul>
                        <li>Logo on banner next to conference screen</li>
                        <li>Top logo placement &amp; description on website</li>
                        <li>Logo on name badge / schedule</li>
                        <li>6 conference passes</li>
                    </ul>
                </div>
                <div class="sponsorship-detail">
                    <h3>Associate - R50,000</h3>
                    <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                    <ul>
                        <li>Logo on banner next to conference screen</li>
                        <li>Linked logo on website</li>
                        <li>Logo on name badge / schedule </li>
                        <li>2 conference passes</li>
                    </ul>
                </div>
                <div class="sponsorship-detail">
                    <h3>Startup - R7,500</h3>
                    <p>Best For: Brand Loyalty, Visibility, Social Media, Leads</p>
                    <ul>
                        <li>Linked logo on website</li>
                    </ul>
                </div>

            </div>
        </div>
{% endblock %}
