{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Tickets  ·  Pixel Up!  ·  September 12-14, 2016  ·  Johannesburg  ·  A conference about making things with pixels." %}


{% block left_section_content %}
            <div class="page-lead-content">
                <ul class="no-bullet">
                    <li><a href="#full-package-tickets">Conference + Workshop</a></li>
                    <li><a href="#conference-tickets">Conference only</a></li>
                    <li><a href="#workshop-tickets">Workshop only</a></li>
                </ul>
            </div>
{% endblock %}


{% block page_content %}
        <h1 class="page-title">Get your tickets</h1>
        <p class="lead">We have a limited number of seats available for this one of a kind conference.
            Book early to make sure you get a seat. </p>
        <section id="full-package-tickets">
            <h2>3 Day Package tickets</h2>
            <table class="stacked">
                <tbody>
                    <tr>
                        <td class="ticket-name">
                            2 Day Conference + Workshop Ticket
                            <br><small>(On sale Apr. 1 - Aug. 14)</small>
                        </td>
                        <td class="ticket-price">
                            <strong>R8,500</strong>
                        </td>
                        <td class="ticket-buy">
                            <a href="#" class="button disabled">Get ticket</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section id="conference-tickets">
            <h2>2 Day Conference tickets</h2>
            <table class="stacked">
                <tbody>
                    <tr>
                        <td class="ticket-name">
                            2 Day Conference Ticket &mdash; Early bird  <br><small>(On sale Feb. 22 - Mar. 31)</small>
                        </td>
                        <td class="ticket-price">
                            <strong>R5,500</strong>
                        </td>
                        <td class="ticket-buy">
                            <a href="#" class="button disabled">Get ticket</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="ticket-name">
                            2 Day Conference Ticket &mdash; Regular <br><small>(On sale Apr. 1 - Aug. 14)</small>
                        </td>
                        <td class="ticket-price">
                            <strong>R6,500</strong>
                        </td>
                        <td class="ticket-buy">
                            <a href="#" class="button disabled">Get ticket</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="ticket-name">
                            2 Day Conference Ticket  &mdash; Last minute<br><small>(On sale Aug. 15th - Sep. 14)</small>
                        </td>
                        <td class="ticket-price">
                            <strong>R7,500</strong>
                        </td>
                        <td class="ticket-buy">
                            <a href="#" class="button disabled">Get ticket</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="workshop-tickets">
            <h2>Workshop Tickets</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td class="ticket-name">
                            UX Launchpad <br><small>Jon Bell &amp; William Van Hecke</small>
                        </td>
                        <td class="ticket-price">
                            <strong>R3,500</strong>
                        </td>
                        <td class="ticket-buy">
                            <a href="#" class="button disabled">Get ticket</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="ticket-name">
                            TBC
                        </td>
                        <td class="ticket-price">
                            <strong>R3,500</strong>
                        </td>
                        <td class="ticket-buy">
                            <a href="#" class="button disabled">Get ticket</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="ticket-name">
                            TBC
                        </td>
                        <td class="ticket-price">
                            <strong>R3,500</strong>
                        </td>
                        <td class="ticket-buy">
                            <a href="#" class="button disabled">Get ticket</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <!-- <article class="">
            <p>The most popular ticket, three-day passes are for people looking
                to immerse themselves in the UX world and come away with a whole
                toolkit of tangible new skills.</p>
                <h5>This is great value for:</h5>
                <ul>
                    <li>Individual designers</li>
                    <li>Teams looking to seriously skill up</li>
                    <li>Thise travelling from afar</li>
                </ul>
                <p>Please note: Three-day passes are for one attendee only and cannot be shared.</p>
        </article>
        <section class="content-section">
            <h2 class="section-heading">Because you want to do good<br>
                <small>We contribute part of your fee to a bursary</small>
            </h2>
            {%  include 'templates/views/partials/panel-doGood.html' %}
        </section> -->

{% endblock %}
