{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Tickets  ·  Pixel Up!  ·  Sept. 12-14, 2016  ·  Johannesburg" %}



{% block header_content %}
                <h1 class="page-title light">Get your ticket. We have limited seats.</h1>
                        <div class="row">
                            <div class="columns">
                                <p class="lead light">Book early to make sure you get a seat. <br>We'll even help you <a href="/convince-your-boss">convince your boss</a>.</p>
                            </div>
                        </div>
{% endblock %}


{% block page_content %}
        <div class="row">
            <div class="columns">
                <p class="lead">We have a limited number of seats available for this one of a kind conference.
                    Book early to make sure you get a seat. We've got some help if you need to <a href="/convince-your-boss">convince your boss</a>.
                </p>
                <p><a class="button buy-button" href="http://pixelup.nutickets.co.za/2454">Buy Tickets</a></p>
                <section class="ticket-section" id="full-package-tickets">
                    <h3>3 Day Package tickets</h3>
                    <ul>
                        <li>
                            <span class="ticket-price">
                                <strong>R8,500</strong>
                            </span>
                            <span class="ticket-name">
                                3 Day Conference + Workshop Pass
                                <br><small>(On sale Apr. 1 - Aug. 14)</small>
                            </span>
                        </li>
                    </ul>
                </section>
                <section id="conference-tickets" class="ticket-section">
                    <h3>2 Day Conference tickets</h3>
                    <ul>
                        <li>
                            <span class="ticket-price">
                                <strong>R4,875</strong>
                            </span>
                            <span class="ticket-name">
                                Super Early Bird &mdash; 2 Day Conference Pass<br><small>25% Discount (On sale Mar. 9 - Mar. 31)</small>
                            </span>
                        </li>
                        <li>
                            <span class="ticket-price">
                                <strong>R5,500</strong>
                            </span>
                            <span class="ticket-name">
                                Early Bird &mdash; 2 Day Conference Pass
                                <br><small>15% Discount (On sale Apr. 1 - Apr. 30)</small>
                            </span>
                        </li>
                        <li>
                            <span class="ticket-price">
                                <strong>R6,500</strong>
                            </span>
                            <span class="ticket-name">
                                Standard &mdash; 2 Day Conference Pass<br><small>(On sale May 1 - Aug. 14)</small>
                            </span>
                        </li>
                        <li>
                            <span class="ticket-price">
                                <strong>R7,500</strong>
                            </span>
                            <span class="ticket-name">
                                Last minute &mdash; 2 Day Conference Pass   <br><small>(On sale Aug. 15th - Sep. 14)</small>
                            </span>
                        </li>
                    </ul>
                </section>

                <section id="workshop-tickets" class="ticket-section">
                    <h3>1 Day Workshop Tickets</h3>
                    <ul>
                        <li>
                            <span class="ticket-price">
                                <strong>R3,500</strong>
                            </span>
                            <span class="ticket-name">
                                UX Launchpad <br><small>Jon Bell &amp; William Van Hecke</small>
                            </span>
                        </li>
                        <li>
                            <span class="ticket-price">
                                <strong>R3,500</strong>
                            </span>
                            <span class="ticket-name">
                                TBC
                            </span>
                        </li>
                        <li>
                            <span class="ticket-price">
                                <strong>R3,500</strong>
                            </span>
                            <span class="ticket-name">
                                TBC
                            </span>
                        </li>
                    </ul>
                </section>
                <section id="group-tickets" class="ticket-section">
                    <h3>Group Conference Tickets</h3>
                    <ul>
                        <li>
                            <span class="ticket-price">
                                <strong>R6,175</strong>
                            </span>
                            <span class="ticket-name">
                                2 Day Conference &mdash; (5-10 Tickets)   <br><small>5% discount</small>
                            </span>
                        </li>
                        <li>
                            <span class="ticket-price">
                                <strong>R5,850</strong>
                            </span>
                            <span class="ticket-name">
                                2 Day Conference &mdash; (11-20 Tickets)   <br><small>10% discount</small>
                            </span>
                        </li>
                    </ul>
                </section>
                <a class="button buy-button" href="http://pixelup.nutickets.co.za/2454">Buy Tickets</a>
            </div>
        </div>
        <!-- <article class="">
            <p>The most popular ticket, three-day passes are for people looking
                to immerse themselves in the UX world and come away with a whole
                toolkit of tangible new skills.</p>
                <h5>This is great value for:</h5>
                <ul>
                    <li>Individual designers</li>
                    <li>Teams looking to seriously skill up</li>
                    <li>Thise travelling from afar</li>
                </ul>
                <p>Please note: Three-day passes are for one attendee only and cannot be shared.</p>
        </article>
        <section class="content-section">
            <h3 class="section-heading">Because you want to do good<br>
                <small>We contribute part of your fee to a bursary</small>
            </h3>
            {%  include 'templates/views/partials/panel-doGood.html' %}
        </section> -->

{% endblock %}
