{% extends "templates/layouts/default.html" %}

{% set title = "Get your ticket" %}



{% block header_content %}
                <h1 class="hero__header">Get your ticket. We have limited seats.</h1>
                <p class="caption">Book early to make sure you get a seat. We'll even help you <a href="/convince-your-boss">convince your boss</a>.</p>
{% endblock %}


{% block content %}
                <div class="section-layout">
                    <section class="section typeset container">
                        <article class="article--single">
                            <section class="ticket-section" id="full-package-tickets">
                                <h3>3 Day Full Pass</h3>
                                <p class="caption caption--thin-bottom">For 2 Day Conference and 1 full-day workshop</p>
                                <ul class="no-bullet">
                                    <li class="ticket">
                                        <a href="http://pixelup.nutickets.co.za/2454" class="button button--primary ticket__buy-button">Buy</a>
                                        <span class="ticket__price">
                                            <strong>R8,500</strong>
                                        </span>
                                        <span class="ticket__name">
                                            3 Day Pass <small class="ticket__caption caption">(On sale Apr. 1 - Aug. 14)</small>
                                        </span>
                                    </li>
                                </ul>
                            </section>
                            <section id="conference-tickets" class="ticket-section">
                                <h3>2 Day Conference Pass</h3>
                                <p class="caption caption--thin-bottom">For <a href="/schedule">Monday</a> and <a href="/schedule">Tuesday</a> (Talks &amp; Party only)</p>
                                <ul class="no-bullet">
                                    <!-- <li class="ticket">
                                        <span class="ticket__price">
                                            <strong>R4,875</strong>
                                        </span>
                                        <span class="ticket__name">
                                            Super Early Bird &mdash; 2 Day Conference Pass
                                            <br /><small class="ticket__caption caption">25% Discount (On sale Mar. 9 - Mar. 31)</small>
                                        </span>
                                    </li>
                                    <li class="ticket">
                                        <span class="ticket__price">
                                            <strong>R5,500</strong>
                                        </span>
                                        <span class="ticket__name">
                                            Early Bird &mdash; 2 Day Conference Pass
                                            <br /><small class="ticket__caption caption">15% Discount (On sale Apr. 1 - Apr. 30)</small>
                                        </span>
                                    </li> -->
                                    <li class="ticket">
                                        <a href="http://pixelup.nutickets.co.za/2454" class="button button--primary ticket__buy-button">Buy</a>
                                        <span class="ticket__price">
                                            <strong>R6,500</strong>
                                        </span>
                                        <span class="ticket__name">
                                            2 Day Pass &mdash; Standard <small class="ticket__caption caption u-hide-for-smartphones">(On sale May 1 - Aug. 14)</small>
                                        </span>
                                    </li>
                                    <li class="ticket">
                                        <a href="http://pixelup.nutickets.co.za/2454" class="button button--primary ticket__buy-button">Buy</a>
                                        <span class="ticket__price">
                                            <strong>R7,500</strong>
                                        </span>
                                        <span class="ticket__name">
                                            2 Day Pass &mdash; Last minute  <small class="ticket__caption caption">(On sale Aug. 15th - Sep. 14)</small>
                                        </span>
                                    </li>
                                </ul>
                            </section>

                            <!-- <section id="workshop-tickets" class="ticket-section">
                                <h3>Full Day Workshop Pass</h3>
                                <p class="caption caption--thin-bottom">For <a href="/schedule">Wednesday</a> only</p>
                                <ul class="no-bullet">
                                    {% for workshop in data.workshops %}
                                    <li class="ticket">
                                        <a href="http://pixelup.nutickets.co.za/2454" class="button button--primary ticket__buy-button ticket__buy-button--workshop">Buy</a>
                                        <span class="ticket__price ticket__price--workshop">
                                            <strong>R3,500</strong>
                                        </span>
                                        <span class="ticket__name">
                                            <a href="/workshops/{{ workshop.slug }}">{{ workshop.title }}</a>
                                            <small class="ticket__caption caption ticket__caption--workshop">
                                                <a href="/speakers/{{ workshop.speakers[0].slug }}">{{ workshop.speakers[0].name.full }}</a>
                                                {% if workshop.speakers[1] %}
                                                &amp; <a href="/speakers/{{ workshop.speakers[1].slug }}">{{ workshop.speakers[1].name.full }}</a>
                                                {% endif %}
                                            </small>
                                        </span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </section> -->
                            <section id="group-tickets" class="ticket-section">
                                <h3>Group Conference Passes</h3>
                                <ul class="no-bullet">
                                    <li class="ticket">
                                        <a href="http://pixelup.nutickets.co.za/2454" class="button button--primary ticket__buy-button">Buy</a>
                                        <span class="ticket__price">
                                            <strong>R6,175</strong>
                                        </span>
                                        <span class="ticket__name">
                                            2 Day Group Pass (5-10 people) <small class="ticket__caption caption">5% discount</small>
                                        </span>
                                    </li>
                                    <li class="ticket">
                                        <a href="http://pixelup.nutickets.co.za/2454" class="button button--primary ticket__buy-button">Buy</a>
                                        <span class="ticket__price">
                                            <strong>R5,850</strong>
                                        </span>
                                        <span class="ticket__name">
                                            2 Day Group Pass (11-20 people) <small class="ticket__caption caption">10% discount</small>
                                        </span>
                                    </li>
                                </ul>
                            </section>
                        </article>
                    </section>
                </div>

                <div class="section-layout section-layout--two-slopes section-layout--pink">
                    {% include 'templates/mixins/panel-convince.html' %}
                </div>
        <!-- <article class="">
            <p>The most popular ticket, three-day passes are for people looking
                to immerse themselves in the UX world and come away with a whole
                toolkit of tangible new skills.</p>
                <h5>This is great value for:</h5>
                <ul>
                    <li>Individual designers</li>
                    <li>Teams looking to seriously skill up</li>
                    <li>Thise travelling from afar</li>
                </ul>
                <p>Please note: Three-day passes are for one attendee only and cannot be shared.</p>
        </article>
        <section class="content-section">
            <h3 class="section-heading">Because you want to do good<br>
                <small>We contribute part of your fee to a bursary</small>
            </h3>
            {%  include 'templates/views/partials/panel-doGood.html' %}
        </section> -->

{% endblock %}
