{% extends "templates/layouts/default-with-header.html" %}

{% set title = "Venue  ·  Pixel Up!  ·  Sept.s 12-14, 2016  ·  Johannesburg" %}

{% block header_content %}
                <h1 class="page-title light">Turbine Hall, Jo'burg. A location like no other.</h1>
                <div class="row">
                    <div class="column">
                        <p class="lead light"><strong>We're going to hang out in the awesome Turbine Hall in Newton, Johannesburg.
                        Sitting in Jozi's arts and cultural precinct, it's a building and a location like no other. </strong></p>
                    </div>
                </div>
{% endblock %}


{% block page_content %}
        <section class="row">
                <div class="row">
                    <div class="column">
                        <div>
                            <h2>An architectural icon</h2>
                            <p>In the centre of Johannesburg, just after Nelson Mandela bridge,
                                lies the almost 90 year old Turbine Hall with it's massive scale and delicacy of detail.
                                The Pixel Up! Conference will be held in the beautiful basement, an amazing example of
                                reclaimed industrial space.
                            </p>
                            <img src="/img/turbine-hall-outside.jpg" />
                        </div>
                        <br>
                        <div>
                            <h2>Address</h2>
                            <div class="row">
                                <div class="one-half column">
                                    <p>
                                        <strong>Turbine Hall</strong><br>
                                        65 Ntemi Piliso Road<br>
                                        Newtown<br>
                                        Johannesburg<br>
                                        <a href="https://goo.gl/maps/BXDB486oYUN2">View on Google Maps</a>
                                    </p>
                                </div>
                                <div class="one-half column">
                                    <p>
                                        <strong>Website</strong><br>
                                        <a href="http://theforum.co.za/iconic-venues/#tm-block-top-d">theforum.co.za</a><br>
                                        <a href="tel://+27 11 492 3888">+27 11 492 3888</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2>Workshop ready</h2>
                            <p>
                                Workshops will run on the ground level in the Turbine Halls well equipped break-away spaces: Coal Hopper, Engine Room and Steam Room.
                            </p>
                            <img src="/img/turbine-hall-coalhopper.jpg" />
                        </div>
                        <br>
                    </div>
                </div>


        </section>

{% endblock %}
