{% extends "templates/layouts/content-view__partial.html" %}

{% set title = "PIXEL UP! at Turbine Hall, 65 Ntemi Piliso Road, Johannesburg" %}
{% block meta %}
<update-title title="{{ title }}"></update-title>
<update-meta name="keywords" content="Pixel Up, PIXEL UP!, PixelUp16, ux conference, ux johannesburg, ux south africa, ux design, interaction design, user experience, ux designer, ui design, user interface design">
<update-meta name="description" content="{{ meta_description }}">

<!-- Twitter Card -->
<update-meta name="twitter:card" content="summary_large_image">
<update-meta name="twitter:site" content="@letspixelup">
<update-meta name="twitter:creator" content="@farai_uxguy">
<update-meta name="twitter:title" content="{{ title }}">
<update-meta name="twitter:description" content="{{ meta_description }}">
<update-meta name="twitter:image" content="https://pixelup.co.za/img/pixelup-avatar-twitter-card.png?1139">
<update-meta name="twitter:domain" content="https://pixelup.co.za">

<update-meta property="og:locale" content="en_ZA">
<update-meta property="og:description" content="{{ meta_description }}">
<update-meta property="og:image" content="https://pixelup.co.za/img/avatar-open-graph-fb.png?832">
<update-meta property="og:image:width" content="1200">
<update-meta property="og:image:height" content="628">
<update-meta property="og:site_name" content="PIXEL UP! UX Conference in Johannesburg, September 12 - 14, 2016">
<update-meta property="og:title" content="{{ title }}">
<update-meta property="og:type" content="website">
<update-meta property="og:url" content="https://pixelup.co.za{{ urlPath }}">
<update-meta property="article:publisher" content="https://www.facebook.com/letspixelup">
{% endblock%}

{% block header_content %}
                <h1 class="hero__header">Turbine Hall, Johannesburg.</h1>
                <p class="caption">Let's hang out in the awesome Turbine Hall in Newton, Johannesburg.</p>
{% endblock %}


{% block content %}
                <div class="section-layout section-layout--left">
                    <section class="section typeset container">
                        <h2>An architectural icon</h2>
                        <p>In the centre of Johannesburg, just after Nelson Mandela bridge,
                            lies the almost 90 year old Turbine Hall with it's massive scale and delicacy of detail.
                            The PIXEL UP! Conference will be held in the beautiful basement, an amazing example of
                            reclaimed industrial space.
                        </p>
                        <img src="/img/turbine-hall-outside.jpg" />
                    </section>
                </div>
                <div class="section-layout section-layout--two-slopes section-layout--blue">
                    <section class="section typeset container">
                        <h2>Address</h2>
                        <div class="row">
                            <div class="one-half column">
                                <p>
                                    <strong>Turbine Hall</strong><br>
                                    65 Ntemi Piliso Road<br>
                                    Newtown<br>
                                    Johannesburg<br>
                                    <a href="https://goo.gl/maps/BXDB486oYUN2">View on Google Maps</a>
                                </p>
                            </div>
                            <div class="one-half column">
                                <p>
                                    <strong>Website</strong><br>
                                    <a href="http://theforum.co.za/iconic-venues/#tm-block-top-d">theforum.co.za</a><br>
                                    <a href="tel://+27 11 492 3888">+27 11 492 3888</a>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="section-layout ">
                    <section class="section typeset container">
                        <h2>Workshop ready</h2>
                        <p>
                            Workshops will run on the ground level in the Turbine Halls well equipped break-away spaces: Coal Hopper, Engine Room and Steam Room.
                        </p>
                        <img src="/img/turbine-hall-coalhopper.jpg" />
                    </section>
                </div>

{% endblock %}
