{% extends "templates/layouts/content-view__partial.html" %}

{% set title = "Volunteer at PIXEL UP! 2016 in Johannesburg" %}
{% block meta %}
<update-title title="{{ title }}"></update-title>
<update-meta name="keywords" content="Pixel Up, PIXEL UP!, PixelUp16, ux conference, ux johannesburg, ux south africa, ux design, interaction design, user experience, ux designer, ui design, user interface design">
<update-meta name="description" content="{{ meta_description }}">

<!-- Twitter Card -->
<update-meta name="twitter:card" content="summary_large_image">
<update-meta name="twitter:site" content="@letspixelup">
<update-meta name="twitter:creator" content="@farai_uxguy">
<update-meta name="twitter:title" content="{{ title }}">
<update-meta name="twitter:description" content="{{ meta_description }}">
<update-meta name="twitter:image" content="https://pixelup.co.za/img/pixelup-avatar-twitter-card.png?1139">
<update-meta name="twitter:domain" content="https://pixelup.co.za">

<update-meta property="og:locale" content="en_ZA">
<update-meta property="og:description" content="{{ meta_description }}">
<update-meta property="og:image" content="https://pixelup.co.za/img/avatar-open-graph-fb.png?832">
<update-meta property="og:image:width" content="1200">
<update-meta property="og:image:height" content="628">
<update-meta property="og:site_name" content="PIXEL UP! UX Conference in Johannesburg, September 12 - 14, 2016">
<update-meta property="og:title" content="{{ title }}">
<update-meta property="og:type" content="website">
<update-meta property="og:url" content="https://pixelup.co.za{{ urlPath }}">
<update-meta property="article:publisher" content="https://www.facebook.com/letspixelup">
{% endblock%}

{% block header_content %}
                <h1 class="hero__header">Volunteer at PIXEL UP!</h1>
                <p class="caption">Help make PIXEL UP! an awesome event.</p>
                <div class="workshop__actions workshop__actions--hero">
                    <a class="button button--primary" href="https://farai1.typeform.com/to/qqPPNI" data-mode="1" target="_blank">Apply to volunteer</a>
                    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
                </div>
{% endblock %}


{% block content %}
                <div class="section-layout section-layout--left">
                    <section class="section typeset container">
                        <article class="article--single">
                            <h2>Help make PIXEL UP! awesome.</h2>
                            <p>If you’re a student and want to attend PIXEL UP! 2016 but can’t manage to purchase a ticket, you can join our student volunteer program and help support one of the best digital design events and attend for free.
                            </p>
                            <p>
                                Registration will be open until August 14th 2016. We will process applications as quickly as possible and get back to you in the week of August 15th, 2016.
                            </p>

                            <h3>What will you do as a volunteer?</h3>
                            <p>
                                As a volunteer, you’ll be expected to dedicate at minimum 8 hours working shift to the event. You’ll be also responsible for any travel and accommodation costs to, during and from the conference. You be doing stuff like:
                            </p>
                            <ul>
                                <li>Putting together swag bags</li>
                                <li>Managing the registration desk and checking people in</li>
                                <li>Monitoring the conference rooms and help set up audio-visual equipment</li>
                                <li>Supporting social events (parties etc.)</li>
                                <li>Acting as “floaters” - walking around the conference venue and answer participants’ questions and guiding them around the venue.</li>
                                <li>Helping out at lunch time</li>
                                <li>Helping speakers</li>
                                <li>Running around with microphones during Q&amp;A sessions</li>
                                <li>Moving people around</li>
                                <li>General administration</li>
                            </ul>
                            <h3>What you’ll get</h3>
                            <p>
                                You will get an exclusive insider’s view to Africa’s premier digital design conferences. It’ll be unforgettable and will include:
                            </p>
                            <ul>
                                <li>An inside look at the planning stages of the conference</li>
                                <li>Free conference attendance for all 3 days including talks and some workshops</li>
                                <li>Free attendance to parties</li>
                                <li>Meals covered on all the days you volunteers</li>
                                <li>The opportunity to meet rad product thinkers designers and makers</li>
                                <li>An exclusive, volunteer-only PIXEL UP! T-shirt</li>
                                <li>Kudos for your time, attention and efforts</li>
                            </ul>
                            <p>We are unable to cover expenses for volunteers, which means that if you want to get involved, you will need to cover the costs of travelling to, and staying in Johannesburg.</p>

                            <h3>When do you have to be available?</h3>
                            <p>
                                You have to be available starting on Sunday, September 11th until Wednesday, September 14th 2016. Start times depend on the day - volunteers may start on some days as early as 7 am and end as late as 9 pm on other days.
                                We do our best to make sure that you get the rest you need, but be prepared for an intense few days!
                            </p>
                        </article>
                    </section>
                </div>
                <div class="section-layout section-layout--two-slopes section-layout--blue">
                    <section class="section typeset container">
                        <h2>APPLY to volunteer</h2>
                        <p>
                            No qualifications necessary! You must however show proof that you are currently studying somethin related to design or product management. It helps to have a good attitude, act organised and feel enthusiastic about helping others... and of course have an interest in the making products with pixels.
                        </p>
                        <div class="workshop__actions workshop__actions--hero">
                            <a class="button button--primary" href="https://farai1.typeform.com/to/qqPPNI" data-mode="1" target="_blank">Apply to volunteer</a>
                            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
                        </div>
                    </section>
                </div>

{% endblock %}
