{% extends "templates/layouts/content-view__partial.html" %}

{% set title = "Workshops | PIXEL UP! 2016 in Johannesburg" %}
{% set meta_description = "MASTER-GRADE FULL-DAY WORKSHOPS.Dive deep into your practice. Perfect for teams and individuals." %}

{% block meta %}
<update-title title="{{ title }}"></update-title>
<update-meta name="keywords" content="Pixel Up, PIXEL UP!, PixelUp16, ux conference, ux johannesburg, ux south africa, ux design, interaction design, user experience, ux designer, ui design, user interface design"></update-meta>
<update-meta name="description" content="{{ meta_description }}"></update-meta>

<!-- Twitter Card -->
<update-meta name="twitter:card" content="summary_large_image"></update-meta>
<update-meta name="twitter:site" content="@letspixelup"></update-meta>
<update-meta name="twitter:creator" content="@farai_uxguy"></update-meta>
<update-meta name="twitter:title" content="{{ title }}"></update-meta>
<update-meta name="twitter:description" content="{{ meta_description }}"></update-meta>
<update-meta name="twitter:image" content="https://pixelup.co.za/img/pixelup-avatar-twitter-card.png?1139"></update-meta>
<update-meta name="twitter:domain" content="https://pixelup.co.za"></update-meta>

<update-meta property="og:locale" content="en_ZA"></update-meta>
<update-meta property="og:description" content="{{ meta_description }}"></update-meta>
<update-meta property="og:image" content="https://pixelup.co.za/img/avatar-open-graph-fb.png?832"></update-meta>
<update-meta property="og:image:width" content="1200"></update-meta>
<update-meta property="og:image:height" content="628"></update-meta>
<update-meta property="og:site_name" content="PIXEL UP! UX Conference in Johannesburg, September 12 - 14, 2016"></update-meta>
<update-meta property="og:title" content="{{ title }}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>
<update-meta property="og:url" content="https://pixelup.co.za{{ urlPath }}"></update-meta>
<update-meta property="article:publisher" content="https://www.facebook.com/letspixelup"></update-meta>
{% endblock %}

{% macro workshopTeaser(workshop) %}
                        <div class="workshop-summary">
                            <h2 class="workshop__title"><a href="/workshops/{{ workshop.slug }}">{{ workshop.title }}</a></h2>
                            <p class="caption caption--centered">Wednesday 14 September, 9am-4pm</p>
                            <div class="workshop__speakers">
                                {% for speaker in workshop.speakers %}
                                <div class="chip speaker-chip speaker-chip--inline">
                                    <a href="/speakers/{{ speaker.slug }}">
                                        <img class="speaker-chip__photo" src="{{ speaker.mugshot.secure_url }}" />
                                        <div class="speaker-chip__meta">
                                            <span class="speaker-chip__name">{{ speaker.name.full }}</span>
                                            <span class="speaker-chip__jobTitle">{{ speaker.company }}</span>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            <div >
                                    <a class="workshop__link" href="/workshops/{{ workshop.slug }}">
                                        {{ workshop.shortDescription.html }}
                                    </a>
                                    <div class="workshop__actions">
                                        <a href="/workshops/{{ workshop.slug }}" class="button button--primary">Learn more</a>
                                    </div>

                            </div>
						</div>
{% endmacro %}

{% block header_content %}
                <h1 class="hero__header">Master-Grade Full-Day Workshops.</h1>
                <p class="caption">Dive deep into your practice. Perfect for teams and individuals.</p>
{% endblock %}

{% block content %}
                <div class="section-layout">
                    <section class="section typeset container">
                        <article class="article--single">
                            {% for workshop in data.workshops %} {{ workshopTeaser(workshop) }} {% endfor %}
                        </article>
                    </section>
                </div>
                {% include 'templates/mixins/_workshop-included-items.html' %}


        {% include 'templates/mixins/become-a-sponsor.html' %}
{% endblock %}
