{% extends "templates/layouts/default.html" %}

{% set title = "Workshops • Pixel Up! • September 12-14, 2016 • Johannesburg • A conference about making things with pixels." %}

{% block content %}
        <header class="fullWidth hero">  
            <h2>Workshops</h2>
            <h4>
                <span>Practical skills. Also fun. Perfect for teams and individuals</span>
            </h4>
        </header>
        <hr>
        <section class="event-day" id="day-3" data-daynumber="3">
            <p>Wednesday, 14th September is workshop day. All our workshops will be delivered by local international industry experts. Come and immerse yourself in groundbreaking design &amp; development skills you won’t find anywhere else. Level up your team with proven methods, tools and clear-cut direction on specific actions and skills. </p>
            <p></p>
            <p>Once the schedule is complete we'll update this page. <a href="/contact/">Stay in touch</a> to make sure you get one of our limited workshop seats.</p>
            <p></p>
            <div class="row">
                <div class="medium-6 columns">
                    <h5>Full day workshops include:</h5>
                    <ul>
                        <li>Snacks and drinks all day</li>
                        <li>Lunch</li>
                    </ul>
                    <h5>You should bring:</h5>
                    <ul>
                        <li>Your laptop</li>
                        <li>Your laptop charger</li>
                    </ul>
                </div>
                <div class="medium-6 columns">
                    <h5>Workshop tickets</h5>
                    <p>Tickets for the one day workshops are <strong>R2,500.00</strong> (including VAT). Workshop tickets are valid for the workshop only. To attend the conference days an extra ticket is needed.<br> All workshops start at 9:00am and end at 4:00pm.</p>
                </div>
            </div>
        </section>
        <hr>
        <section class="content-section">
            <h2 class="section-heading">Because you want to do good<br>
                <small>We contribute part of your fee to a bursary</small>
            </h2>
            {%  include 'templates/views/partials/panel-doGood.html' %}
        </section>
        <hr>
        {% include 'templates/mixins/become-a-sponsor.html' %}
{% endblock %}

