<div class="speaker-grid__item">
    <a class="speaker-grid__link" href="/speakers/{{ s.slug }}/">
        <figure class="tint">
            <img class="speaker-grid__photo photo" src="{{ s.mugshot.secure_url }}" alt="{{ s.name.full }}"/>
        </figure>
        <div class="speaker-grid__details">
            <span class="speaker-grid__name">{{ s.name.full }}</span>
            <span class="speaker-grid__title">{{ s.jobTitle }}</span>
            <span class="speaker-grid__company">{% if s.company %}{{ s.company }},{% endif %} {{ s.city }}</span>
        </div>
    </a>
</div>
