        <div class="section-layout section-layout--two-slopes section-layout--pink">
            <section class="section typeset container">
                <div class="row">
                    <div class="one-half column">
                        <h5>Full day workshops include:</h5>
                        <ul>
                            <li>Snacks and drinks all day</li>
                            <li>Lunch</li>
                        </ul>
                        <h5>You should bring:</h5>
                        <ul>
                            <li>Your laptop</li>
                            <li>Your laptop charger</li>
                        </ul>
                    </div>
                    <div class="one-half column">
                        <h5>Workshop tickets</h5>
                        <p>Tickets for the one day workshops are <strong>R3,500.00</strong> (including VAT). Workshop tickets are valid for the workshop only. To attend the conference days an extra ticket is needed.<br> All workshops start at 9:00am and end at 4:00pm.</p>
                    </div>
                </div>
            </section>
        </div>
