
                <section class="offset-by-one-third two-thirds column">
                    <div class="dark-panel">
                        <h2>Become a Sponsor</h2>
                        <p>By sponsoring Pixel Up! 2016 you'll reach thousands of professional designers and developers (both at the event and online once videos are posted). You'll also help us keep the ticket prices as affordable as possible.</p>
                        <h3>Partner with us:</h3>
                        <ul>
                            <li><a href="/has/downloads/for/sponsors/Pixel_Up!_Sponsorship_Pack.pdf">Download our sponsorship pack</a> (PDF 1.7Mb)</li>
                            <li>Check out our <a href="/sponsors/">sponsorship opportunities</a></li>
                            <li>Get in touch with us at <a href="mailto:sponsors@pixelup.co.za">sponsors@pixelup.co.za</a></li></p>
                        </ul>
                    </div>
                </section>
