
                <section class="offset-by-one-third two-thirds column">
                    <h3>Become a Sponsor</h3>
                    <p>By sponsoring Pixel Up! 2016 you'll reach thousands of professional designers and developers (both at the event and online once videos are posted). You'll also help us keep the ticket prices as affordable as possible.</p>
                    <p>Check out our <a href="/partners">sponsorship opportunities</a> or get in touch with us at <a href="#">sponsors@pixelup.co.za</a> for more information.</p>
                </section>
