{% macro flashMessages(messages) %}
	{% if messages %}
		<div id="flash-messages" class="container">
			{% for message in messages.info %}
				{{ flashMessage(message, "info") }}
			{% endfor %}
			{% for message in messages.success %}
				{{ flashMessage(message, "success") }}
			{% endfor %}
			{% for message in messages.warning %}
				{{ flashMessage(message, "warning") }}
			{% endfor %}
			{% for message in messages.error %}
				{{ flashMessage(message, "alert") }}
			{% endfor %}
		</div>
	{% endif %}
{% endmacro %}

{% macro flashMessage(message, type) %}
	{% if message %}
	<div  class="{{ type }} callout radius" data-closable >
	  {{ message }}
	</div>
	{% endif %}
{% endmacro %}
