                <section class="section typeset container">
                    <div class="convince-panel">
                        <h6>Need to convince your boss?</h6>
                        <p>We don't want you to miss out. If your boss needs some persuading to agree to send you to Pixel Up!
                            we've put together something to help you make a compelling case.
                        </p>
                        <a class="button button--light-blue " href="/convince-your-boss">Convince my boss</a>
                    </div>
                </section>
