{% import "templates/mixins/flash-messages.html" as FM %}
<!doctype html>
<!--
 ___ _         _   _   _      _
| _ (_)_ _____| | | | | |_ __| |
|  _/ \ \ / -_) | | |_| | '_ \_|
|_| |_/_\_\___|_|  \___/| .__(_)
                        |_|
-->
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="keywords" content="Pixel Up, Pixel Up!, PixelUp16, ux conference, ux johannesburg, ux south africa, ux design, interaction design, user experience, ux designer, ui design, user interface design">
		<meta name="description" content="A 3 day digital product design conference (12-14 September 2016) in Johannesburg with talks and workshops on interaction design, interface design by international speakers from companies like Dropbox and Twitter and Apple.">

		<!-- Twitter Card -->
	    <meta name="twitter:card" content="summary_large_image">
	    <meta name="twitter:site" content="@letspixelup">
	    <meta name="twitter:creator" content="@ampli5yd">
	    <meta name="twitter:title" content="Pixel Up! in Johannesburg, 12th - 14th September 2016">
	    <meta name="twitter:description" content="A 3 day digital product design conference (12-14 September 2016) in Johannesburg with talks and workshops on interaction design, interface design by international speakers from companies like Dropbox and Twitter and Apple.">
	    <meta name="twitter:image" content="http://www.pixelup.co.za/img/pixelup-avatar-twitter-card.png?1139">
		<meta name="twitter:domain" content="http://www.pixelup.co.za">

		<!-- opengraph -->
		<meta property="og:description" content="A 3 day digital product design conference (12-14 September 2016) in Johannesburg with talks and workshops on interaction design, interface design by international speakers from companies like Dropbox and Twitter and Apple.">
		<meta property="og:image" content="http://www.pixelup.co.za/img/avatar-open-graph-fb.png?832">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="628">
		<meta property="og:site_name" content="Pixel Up! in Johannesburg, 12th - 14th September 2016">
		<meta property="og:title" content="Pixel Up! Johannesburg, 12th - 14th September">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://www.pixelup.co.za">

		<title>{{ title |default("Pixel Up!") }}</title>
		<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "BusinessEvent",
			"name": "Pixel Up! - A 2016 Conference on Making Great Products with Pixels",
			"sameAs" : [
			  "http://www.facebook.com/letspixelup",
			  "http://www.twitter.com/letspixelup",
			  "http://lanyrd.com/2016/pixelup"
		  	],
			"location": {
				"@type": "Place",
				"name": "Turbine Hall, Newtown",
				"address": {
					"@type": "PostalAddress",
					"name": "Turbine Hall",
					"streetAddress": "65 Ntemi Piliso St",
					"addressLocality": "Johannesburg",
					"postalCode": "2001",
					"addressRegion": "Gauteng",
					"addressCountry": "South Africa"
				},
			"url": "http://theforum.co.za/iconic-venues/#tm-block-top-d"
			},
			"offers": {
				"@type": "AggregateOffer",
				"lowPrice": "3500",
				"highPrice": "8500",
				"priceCurrency" : "ZAR",
				"url" : "http://pixelup.co.za/tickets"
		  	},
			"startDate": "2016-09-12T09:00",
			"endDate": "2016-09-14T17:00",
			"url": "http://pixelup.co.za",
			"organizer" : {
				"@type" : "Organization",
				"name" : "Ampli5yd",
				"url" : "http://ampli5yd.com",
				"sameAs" : [
			    	"http://www.twitter.com/ampli5yd"
				]
		  	},
		  	"image" : "http://www.pixelup.co.za/img/pixelup-logo-color.png"
			{% block performer_microdata %}{% endblock %}
		}
		</script>
		<script src="https://use.typekit.net/oqz7ipt.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		<link rel="author" href="/humans.txt">
		<link href="/css/pixelup.min.css" rel="stylesheet">

		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">

		<!--[if lt IE 9]>
		    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>
    <body id="{{ section }}">
		<header>
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="offset-by-one-third two-thirds column">
							<h1 class="brand"><a href="/"><img src="/img/pixelup-logo-color.png"/>Pixel Up!</a></h1>
							<div class="conf-about">
								<h3 class="conf-tagline">A Conference on Making Great Products with Pixels</h5>
								<p class="conf-when-where">September 12-14, 2016 in Johannesburg, South Africa</p>
							</div>
							<ul class="nav no-bullet">
								<li><a class="nav-about" href="/">#PixelUp</a></li>
								<li><a class="nav-speakers" href="/speakers/">Speakers</a></li>
								<li><a class="nav-schedule" href="/schedule/">Schedule</a></li>
								<li><a class="nav-sponsors" href="/sponsors/">Sponsors</a></li>
								<li><a class="nav-tickets" href="/tickets/">Tickets</a></li>
							</ul>
						</div>
					</div>
					{% block header_content %}{% endblock %}
				</div>
			</div>
		</header>
		<!-- .container is main centered wrapper -->
		<div class="container">
			<div class="content-wrapper">{{ FM.flashMessages(messages) }}
	            {% block content %}{% endblock %}
			</div>
		</div>
		{% include "templates/views/partials/footer.html" %}

	{% if not is_dev %}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-72813434-1', 'auto');
		ga('send', 'pageview');
	</script>
	{% endif %}
	</body>
<!--
 ___ _         _   _   _      _
| _ (_)_ _____| | | | | |_ __| |
|  _/ \ \ / -_) | | |_| | '_ \_|
|_| |_/_\_\___|_|  \___/| .__(_)
                        |_|
-->
</html>
