{% import "templates/mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title |default("Pixel Up!") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	    <link rel="stylesheet" href="/css/foundation.css" />
	    <link rel="stylesheet" href="/css/foundation-icons.css" />
		<link href="/css/pixelup.min.css" rel="stylesheet">

	    <script src="/js/vendor/modernizr.js"></script>


		{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		   Safely remove this block if you are not targeting IE8 #}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
    <body id="{{ class_type }}">
        <div class="fixed">
            <div class="top-bar fullWidth ">
                <div class="row">
                    <div class="small-5 medium-4 columns">
                        <h1>
                            <a class="icon hidden-for-medium-up" href="#" aria-expanded="false">
                                <span><img src="/img/icon_burger.png" /></span>
                            </a>
                            <a href="/" class="logo">
                                <span>{% block classs_name %}Pixel Up!{% endblock %}</span>
                            </a>
                        </h1>
                    </div>
                    <div class="nav small-7 medium-8 columns">
                        <ul class="main-nav no-bullet right show-for-medium-up">
                            <li><a class="nav-venue" href="/venue/">Venue</a></li>
                            <li><a class="nav-basic" href="/contact/">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
			

		{# BODY #}
		{# NOTE:
		   There is no .container wrapping class around body blocks to allow more flexibility in design.
		   Remember to include it in your templates when you override the intro and content blocks! #}

		{# The Intro block appears above flash messages (used for temporary information display) #}
		{% block intro %}{% endblock %}

		{# Flash messages allow you to display once-off status messages to users, e.g. form
		   validation errors, success messages, etc. #}
		{{ FM.flashMessages(messages) }}


		{% block content %}{% endblock %}
        {% include "templates/views/footer.html" %}
        {% include "templates/views/partials/bookingModal.html" %}
        <script src="/js/vendor/jquery.js"></script>
        <script src="/js/vendor/jquery.form.min.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script src="/js/foundation/foundation.abide.js"></script>
        <script src="/js/foundation/foundation.alert.js"></script>
        <script>
            $(document).foundation();
            $(document).ready(function() { 
                $('.icon').click(function(){
                    $('.top-bar').toggleClass('expand')
                    $('.main-nav').toggle()
                })
                var distance  = $(window).scrollTop();
                var nav = $('.top-bar'); // Change to nav div
                var nav_class = 'active'; // Change to class name
                var threshold = 10; // Change to pixels scrolled

                $(window).scroll(function () {
                    var distance = $(this).scrollTop();
                    if (distance > threshold) { // If scrolled past threshold
                        nav.addClass(nav_class); // Add class to nav
                    } else { // If user scrolls back to top
                        if (nav.hasClass(nav_class)) { // And if class has been added
                            nav.removeClass(nav_class); // Remove it
                        }
                    }
                });
                $('#myEmail').html(function(){
                    var e = "farai";
                    var a = "@";
                    var d = "me";
                    var c = ".com";
                    var h = 'mailto:' + e + a + d + c;
                    $(this).parent('a').attr('href', h);
                    return e + a + d + c;
                });
                $(document).on('closed.fndtn.reveal', '[data-reveal]', function () {
                    var modal = $(this);
                    if(formSubmitted != false) {
                        // clear the form
                        $('#bookingConfirmed').hide()
                        $('#bookingForm').show()
                        $('#bookingAlert').hide()
                        $('#bookingAlert').text('')
                    }
                });
                $(document).on('open.fndtn.reveal', '[data-reveal]', function () {
                    var modal = $(this);
                    mixpanel.track("Booking Attempt");
                });
                var formSubmitted = false;

                function processJson(data) { 
                    formSubmitted = true

                    // 'data' is the json object returned from the server 
                    $('#bookingForm').slideUp()
                    $('#bookingConfirmed').show()

                    // show a success alert
                    $('#bookingAlert').addClass('success')
                    $('#bookingAlert span').text('Coolness, done')
                    $('#bookingAlert').slideDown()
                    $("#bookingSubmit").removeClass('disabled')  
                    $('#bookingForm input[type=email], #bookingForm input[type=checkbox]').attr("disabled",false); 
                }
                function showError(data) {
                    // show an error alert
                    $('#bookingAlert').addClass('alert')
                    $('#bookingAlert span').html('Something went wrong. Try again.')
                    $('#bookingAlert').slideDown()
                    $("#bookingSubmit").removeClass('disabled')
                    $('#bookingForm input[type=email], #bookingForm input[type=checkbox]').attr("disabled",false);          
                }

                $('#bookingForm').ajaxForm({ 
                    // dataType identifies the expected content type of the server response 
                    dataType:  'json', 
             
                    // success identifies the function to invoke when the server response 
                    // has been received 
                    success:   processJson ,
                    error:     showError,
                    resetForm: true,
                    beforeSubmit: function(arr, $form, options) { 
                        $('#bookingAlert').hide()
                        $('#bookingAlert').removeClass('success')
                        $('#bookingAlert').removeClass('alert')
                        $('#bookingAlert span').text('')
                        $("#bookingSubmit").addClass('disabled')  
                        $('#bookingForm input[type=email], #bookingForm input[type=checkbox]').attr("disabled",true);          
                    }
                }); 
            });
        </script>


		{# Include template-specific javascript files by extending the js block #}
		{%- block js -%}{%- endblock -%}
	</body>
</html>
