@smartphones: ~'only screen and (max-width: 39.9375em)';
@phablet: ~'only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)';
@phablet-plus: ~'only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)and (orientation: landscape)';
@tablet-and-up: ~'only screen and (min-width: 40em)';
@large-and-up: ~'only screen and (min-width: 64em)';

@import "breakpoints.less";
@import "grid.less";
// @import "fonts.less";
@import "normalise.less";  // statement left in place, as-is

@blue-grey-color    : #cfd8dc;
@blue-grey-dark    : #b0bec5;

@highlight-color    :  #fc258c;
// @highlight-color    :  #ED1946;
@dark-color         :  #151242;
@bright-blue        :  rgb(16, 200, 255);
@green-color        :   #21caac;



// Typesetting variables. Edit these!
@baseFontSize: 14; // in pixels. This would result in 22px on desktop

@media @smartphones, @phablet {
    @baseFontSize: 14
}

@baseLineHeight: 1.414; // how large the line height is as a multiple of font size
@leading: @baseLineHeight * 1rem;

// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
@scale: 1.618;

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Utility Classes */

/* Make element full width */
.u-full-width {
width: 100%;
box-sizing: border-box; }

/* Make sure elements don't run outside containers (great for images in columns) */
.u-max-full-width {
max-width: 100%;
box-sizing: border-box; }

/* Float either direction */
.u-pull-right {
float: right; }
.u-pull-left {
float: left; }

/* Setup */
html {
  /* Change default typefaces here */
  // font-size: calc(14px + .3vw + .3vh);
  // Make everything look a little nicer in webkit
  -webkit-font-smoothing: antialiased;

  // -webkit-text-size-adjust: auto;
  // -moz-text-size-adjust: auto;
  // -ms-text-size-adjust: auto;
  // -o-text-size-adjust: auto;
  // text-size-adjust: auto;
}

/* Copy & Lists */


@import "typography.less";
@import "copy.less";
@import "tables.less";
/* Hug a the block above you */
.hug {
  margin-top: 0;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 1rem;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 0px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: @dark-color;
  border-color: @dark-color; }

  button.disabled, button[disabled], .button.disabled, .button[disabled] {
      background-color: @grey--soft;
      border-color: #007095;
      color: @dark-color !important;
      box-shadow: none;
      cursor: default;
      opacity: 0.7;
      &:hover {
          background-color: @grey--soft;
          border-color: @dark-color;
      }
  }

body {
  	&#home .nav-about,
  	&#speakers .nav-speakers,
  	&#schedule .nav-schedule,
  	&#workshops .nav-workshops,
  	&#social .nav-social,
  	&#locations .nav-locations,
  	&#exhibition .nav-exhibition,
  	&#partners .nav-sponsors,
  	&#tickets .nav-tickets {
  		color: @highlight-color;
  	}
}
ul,
ol {
  margin: 0 0 @line-height__base 0;
}
ul {
  list-style: disc;

  ul, ol {
    margin: 0 0 0 @line-height__base;

    ul, ol {
      margin: 0 0 0 (2 *@line-height__base);
    }
  }
}
ol {
  list-style: decimal;

  ul, ol {
    margin: 0 0 0 @line-height__base;

    ul, ol {
      margin: 0 0 0 (2 *@line-height__base);
    }
  }
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 @line-height__base 0;
}

hr {
  background-color: @color__type;
  border: 0;
  height: 1px;
}
img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */

  @media @mobile-small {
    float: none;
  }
}

.no-bullet {
    list-style-type: none
}
.hidden {
	display: none;
}

.button {
	background: @dark-color;
	&:hover {
		background: lighten(@dark-color, 2%);;
	};
}

.brand {
    font-weight: 700;
    text-decoration: none;
    margin: 0 .5em .625rem 0;
    text-transform: uppercase;
    text-align: left;
    float: left;
    @media @smartphones {
        margin: 0 1rem 0 0 ;
    }
    a {
        text-decoration: none;
        color: @bright-blue;
        border-bottom: none;
        background: @dark-color ;
        padding: 1.2rem 1em .5em;
        display: inline-block;
        border-radius: 0 0 3px 3px;
        @media @smartphones {
            font-size: .9em;
        }
        img {
            width: 50px;
            height: 76px;
            display: block;
            margin: 0 auto .5rem;
        }
    }
}

.conf-about {

    @media @smartphones {
        margin: 2.2rem 0 0 1rem;
    }
    @media @tablet-and-up {
        content: "";
        // display: table;
        clear: both;
        margin-right: -3rem;
        padding-top: 1rem;
    }
    .conf-tagline {
        @media @smartphones {
            line-height: @line-height__small*.875;
            font-size: .8em;
        }
    }
    .conf-when-where {
        line-height: @line-height__small;
        @media @smartphones {
            margin-top: .8rem;
            margin-bottom: .625em;
            font-size: .8em;
            line-height: 18px;
        }
        small {
            line-height: @line-height__small*.625;
        }
    }
}
.nav {
    .u-cf;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin: 1.5rem -3rem 1rem 0rem;
    padding-top: 2rem;
    li {
        display: inline-block;
        text-align: center;
        margin: 0;
        padding: 0;
        a {
            border-bottom: none;
            padding: 0 .5rem 0 0;
            font-size: 1em;
            font-weight: bold;
            text-decoration: none;
            @media @tablet-and-up {
                padding: 0 1.15rem 0 0;
                font-size: .875rem;
            }
        }
    }
}
.pull-out {
    .convince-panel {
        .dark-panel;
        padding: 1.5em 1.5em 1.5em;
        background: @blue-grey-color;
        color: @dark-color;
        .button {
            display: block;
            color: @grey--soft;
        }
    }
}
.content-wrapper {
    .page-title {
        font-size: 4em;
        text-align: left;
        margin-top: 6rem;
        margin-bottom: 4rem;
        letter-spacing: 0px;
        @media @smartphones, @phablet, @phablet-plus {
            font-size: 4em * 16/19;
            margin-top: 3rem * 16/19;
        }
    }
}

.featured-speaker-list {
    .featured-speaker {
        float: left;
        width: 26.66667%;
        margin:  2% 2% 2rem 2%;
        text-align: center;
        height: 12rem;
        @media @smartphones {
            // display: none;
            width: 40%;
            margin:  2% 4% 50px 4%;
        }
        a {
            text-decoration: none;
            &:hover {
            	img {
                    border: 2px solid lighten(@grey--dark, 40%);
                    -webkit-transition: all 0.2s ease; /* Safari */
                    transition: all 0.2s ease;
            	}
            }
        	img {
                width: 128px;
                border-radius: 50%;
                border: 2px solid #fff;
        	}
        }
        .spkr-details {
            padding-top: .5rem;
            .spkr-name {
                font-weight: bold;
                font-size: .9em;
                display: block;
                line-height: 1.2rem;
            }
            .spkr-title, .spkr-company {
                font-size: .8em;
                line-height: 1.1rem ;
                display: block;
            }
        }
    }
}

/*   SPEAKERS	*/
.speaker-list-item {
    padding: 0 .5rem;
    margin-bottom: 0rem;
    .photo {
        // &:extend(.wonky);
        width: 128px;
        border-radius: 50%;
        float: left;
        margin: 0 2rem 1rem 0
    }
    .spkr-details {
        margin-top: 0rem
    }
    h3 {
        margin-bottom: 0rem;
    }
    .company {
    }
    .spkr-desc {
        margin-top: 0rem;

          content: "";
          display: table;
          clear: both;
    }
}



/*   SCHEDULE	*/
#schedule {
    .event-day {
        padding-top : 0rem;
        h4 {
            span {
                padding: 0px 0;
            }
        }
    	.sessions {
    		list-style-type: none;
            border-top: 1px solid @grey--soft !important;
            border-bottom: 1px solid @grey--soft !important;
            margin-bottom: 3rem;
    	}
    }
}
.single-session {
	border-bottom: 1px solid @grey--soft;
	padding: .5rem 0;
    time {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
    span {
        font-weight: bold;
        float: right;
    }
	&:last-of-type {
		border-bottom: none;
	};
	&.non-speaker {
        span {
            font-weight: normal;
        }
	}
	h5 {
		color: @bright-blue;
		margin-bottom: 0;
	}
}

/* SPONSORS */
.sponsorship-detail, .dark-panel {
    color: @dark-color;
    padding: 2rem 2.5rem 1rem;
    background: #cfd8dc;
    margin-bottom: 1rem;
    border-radius: 3px;
}
#more-ways-to-sponsor {
    margin-top: 3rem;
    td {
        line-height: .9em;
        padding: 1em 0;
        span {
            line-height: 1.5em !important
        }
    }
    .sponsorship-title, .sponsorship-desc, .sponsorship-places {
        display: block;
    }
    .sponsorship-title {
        font-weight: bold;
        text-transform: uppercase;
    }
    .sponsorship-places {
        color: @grey--dark;
    }
    .sponsorship-desc {
        padding-right: 1.5rem;
    }
    .sponsorship-price {
        font-weight: bold
    }
}
/*  TICKETS	*/
#tickets {

    .ticket-buy {
        text-align: right;
        .button {
            margin: 0rem 0;
            color: #fff
        }
    }
	.ticket-name {
        padding-left: 0px;
        span {
            color: darken(@grey--soft, 25%);
            text-transform: uppercase;
        }
        a, span {
        }
    }
}

.footer {
    .u-full-width;
    margin: 3rem 0 0;
    padding: 4rem 0 3rem 0 !important;
    background: lighten(@blue-grey-color, 10%);
    color: @dark-color;
    .jhb-silhouette {
        background: #fff;
        img {
            width : 100%;
        }
    }
    .footer-inner {
        hr {
            margin-bottom: @font-size__base*3;
        }
    }
	.copyright {
		margin: 0px 0 0em 0 ;
	}
    hr {
        background-color: @grey--soft;
    }
}

.footer-ampli5yd {
    background: @dark-color;
    padding-top: 3rem;
    color: @grey--soft;
    @media @smartphones, @phablet, @phablet-plus {
        margin-left: 0px;
    }
    img {
        width: 6em;
    }
    a {
        color: @grey--soft;
    }
    .footer-inner {
        padding: 0 3rem 3rem;
        @media @phablet, @phablet-plus {
            padding : 0 3rem 3rem;
        }
        @media @smartphones {
            padding: 0 1rem 3rem;
        }
    }
}


/* Small only */
@media screen and (max-width: 39.9375em) {

    .right-section {
        .section-inner {
            padding: 0 1rem;
            .section-lead {
                background: none;
                padding-left:110px;
                color: @dark-color;
            }
            .day-badge {
                display: block;
            }
            .speaker-list-item {
                .spkr-title {
                    .job-title {
                        text-transform: uppercase;
                    }
                    .company, .city {
                        color: darken(@grey--soft, 50%);
                    }
                }
            }
        }
    }
}

/* Large and up */


/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
