@smartphones: ~'only screen and (max-width: 39.9375em)';
@phablet: ~'only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)';
@phablet-plus: ~'only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)and (orientation: landscape)';
@tablet-and-up: ~'only screen and (min-width: 40em)';
@large-and-up: ~'only screen and (min-width: 64em)';

@import "breakpoints.less";

@grey-color: 		rgb(233, 233, 233);

@dark-red:			rgb(255, 71, 15);
@dark-red-50:		lighten(@dark-red, 5%);
@black-ish:			rgba(46, 48, 58, 0.960784);
@black-ish-light:	lighten(@black-ish, 50%);

@highlight-color    :  #fc258c;
// @highlight-color    :  #ED1946;
@dark-color         :  #151242;
@bright-blue        :  #00a5ff; //rgb(16, 200, 255);
@green-color        :   #21caac;



// Typesetting variables. Edit these!
@baseFontSize: 14; // in pixels. This would result in 22px on desktop

@media @smartphones, @phablet {
    @baseFontSize: 14
}

@baseLineHeight: 1.414; // how large the line height is as a multiple of font size
@leading: @baseLineHeight * 1rem;

// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
@scale: 1.618;

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Setup */
html {
  /* Change default typefaces here */
  // font-size: calc(14px + .3vw + .3vh);
  // Make everything look a little nicer in webkit
  -webkit-font-smoothing: antialiased;

  // -webkit-text-size-adjust: auto;
  // -moz-text-size-adjust: auto;
  // -ms-text-size-adjust: auto;
  // -o-text-size-adjust: auto;
  // text-size-adjust: auto;
}

/* Copy & Lists */


@import "typography.less";
@import "copy.less";
@import "tables.less";
/* Hug a the block above you */
.hug {
  margin-top: 0;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 1rem;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 0px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

body {
 //  	font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: @dark-color;
  	&#home .nav-about,
  	&#speakers .nav-speakers,
  	&#schedule .nav-schedule,
  	&#workshops .nav-workshops,
  	&#social .nav-social,
  	&#locations .nav-locations,
  	&#exhibition .nav-exhibition,
  	&#partners .nav-partners,
  	&#tickets .nav-tickets {
  		color: @highlight-color;
  	}
}
ul,
ol {
  margin: 0 0 @line-height__base 0;
}
ul {
  list-style: disc;

  ul, ol {
    margin: 0 0 0 @line-height__base;

    ul, ol {
      margin: 0 0 0 (2 *@line-height__base);
    }
  }
}
ol {
  list-style: decimal;

  ul, ol {
    margin: 0 0 0 @line-height__base;

    ul, ol {
      margin: 0 0 0 (2 *@line-height__base);
    }
  }
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 @line-height__base 0;
}

hr {
  background-color: @color__type;
  border: 0;
  height: 1px;
}
img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */

  @media @mobile-small {
    float: none;
  }
}

.more {
  color: inherit;

  &--click {
    display: inline;
    @media @mobile-large {
      display: none;
    }
  }

  &--touch{
    display: none;
    @media @mobile-large {
      display: inline;
    }
  }
  &__text {
    .fake-small-caps;
    color: inherit;
    text-decoration: underline;

  }
}

.no-bullet {
    list-style-type: none
}
.hidden {
	display: none;
}

.punchy {
  color: @bright-blue;
}

.button {
	background: @highlight-color;
	&:hover {
		background: darken(@highlight-color, 15%);;
	};
}


.heading-lead {
    text-transform: uppercase;
    color: @bright-blue;
    margin-bottom: 1rem;
    display: block;
}



/* CONTENT PANELS */
.left-section {
    position: fixed;;
    top: 0px;
    left: 0px;
    width:360px !important;
    background: url(/img/pixel-weave.png);
    color: @dark-color;
    -webkit-transition: width .2s; /* Safari */
    transition: width .2s;
    @media  @phablet, @phablet-plus {
        width: 300px !important;
    }
    @media @smartphones {
        position: static;
        width: 100% !important;
        height: inherit;
	}
    @media screen and (min-width: 40em) {
        width: 360px !important;
        height: 100vh;
    }
    @media screen and (min-width: 64em) {
        width: 400px !important;
    }

    .section-inner {
        background: url(/dimg/pixel-weave.png), radial-gradient(circle at 0 0, @dark-color,lighten(@dark-color, 20%));
        background: url(/img/pixel-weave.png);
        height: 100%;
        margin-right: 0;
        padding: 4rem 6rem 0 10rem;
        @media @tablet-and-up {
            padding: 7.4rem 3rem 0 3rem;
        }
        @media @smartphones {
            padding: 0 1em;
        }
        .conf-tagline {
            @media @smartphones {
                text-align: center;
                .small;
                    line-height: @line-height__small*.875;
            }
        }
        .conf-when-where {
            line-height: @line-height__small*.5;
            @media @smartphones {
                text-align: center;
                margin-bottom: .625em;
            }
            small {
                font-weight: bold;
                line-height: @line-height__small*.875;
            }
        }
        .nav {
            overflow: hidden;
            text-transform: uppercase;
            letter-spacing: .5px;
            margin-top: 2rem;
            @media @smartphones {
                margin: 1rem -1rem 0;
                padding-left: 1rem;
            }
            li {
                @media @smartphones {
                    display: inline-block;
                    width: 22%;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                }
                a {
                    font-weight: bold;
                    text-decoration: none;
                    border-bottom: none;
                    @media @phablet, @phablet-plus {
                        font-size: .9em !important;
                    }
                    @media @smartphones {
                        display: block;
                        margin: 0;
                        padding: .625em 0;
                        font-size: .7em;
                    }
                }
            }
        }
    }
}


.brand {
    font-weight: 700;
    text-decoration: none;
    margin-top: 0;
    @media @tablet-and-up {
        position: fixed;
        z-index: 1999;
        left: 3rem;
        top: 0;
    }
    @media @smartphones, @phablet, @phablet-plus {
        font-size: 1em;
        margin: 0 auto 1em;
	}
    a {
        @media @smartphones {
            padding: .8rem .5em .2em;
        }
        text-decoration: none;
        color: darken(@dark-color, 5%);
        border-bottom: none;
        background:  @bright-blue ;
        padding: 1.2rem .7em .5em;
        display: inline-block;
    }
}


.right-section {
@media @smartphones {
    margin-left: 0px;
}
    @media @phablet-plus {
        margin-left: 300px;
    }
    @media @tablet-and-up {
        margin-left: 360px;
    }
        @media screen and (min-width: 64em) {
            margin-left: 400px;
        }
    .section-inner {
        padding: 4rem 3rem 0rem 3rem ;
        @media @phablet, @phablet-plus {
            padding-top: 0px;
        }
        .page-title {
            @media @smartphones, @phablet, @phablet-plus {
                margin-top: 2rem;
            }
        }
    }
}

.content-container {
	padding-left: 1.875rem;
	padding-right:  1.875rem;
}
.content-section {
	margin: 0rem 0 0rem ;
	padding: 0 0;
	.content-wrapper {
	}
	h2 {
		&.section-heading {
			margin: 0 ;
		}
	}
}

/*   SPEAKERS	*/
.speaker-list-item {
    padding: 0 .5rem;
    margin-bottom: 0rem;
    .photo {
        // &:extend(.wonky);
        text-align: center;
        width: 30%;
        float: left;
        margin: 0 2rem 1rem 0
    }
    .spkr-details {
        margin-top: 0rem
    }
    h3 {
        margin-bottom: 0rem;
    }
    .company {
    }
    .spkr-desc {
        margin-top: 0rem;

          content: "";
          display: table;
          clear: both;
    }
}



/*   SCHEDULE	*/
#schedule {
    .event-day {
        padding-top : 0rem;
        h4 {
            span {
                padding: 0px 0;
            }
        }
    	.sessions {
    		list-style-type: none;
            border-top: 1px solid @grey--soft !important;
            border-bottom: 1px solid @grey--soft !important;
            margin-bottom: 3rem;
    	}
    }
}
.single-session {
	border-bottom: 1px solid @grey--soft;
	padding: .5rem 0;
    time {
        display: inline-block;
        width: 200px;
        text-align: left;
        @media @smartphones, @phablet, @phablet-plus {
            display: block;
        }
    }
    span {
        font-weight: bold;
    }
	&:last-of-type {
		border-bottom: none;
	};
	&.non-speaker {
        span {
            font-weight: normal;
        }
	}
	h5 {
		color: @bright-blue;
		margin-bottom: 0;
	}
}

/*  TICKETS	*/
#tickets {
    section
    table {
        width: 100%;
        tbody {
            tr {
                border-bottom: 1px solid #ccc !important;
            }
            &:nth-child(even) {
                background: #f5f5f5
            }
        }
    }
    .ticket-buy {
        text-align: right;
        .button {
            margin: 0rem 0;
            color: #fff
        }
    }
	.ticket-name {
        padding-left: 0px;
        span {
            color: darken(@grey-color, 25%);
            text-transform: uppercase;
        }
        a, span {
        }
    }
}

.featured-speaker-list {
    margin-top: 1.414em;
    .featured-speaker {
        float: left;
        width: 26.66667%;
        margin:  2% 2% 2rem 2%;
        text-align: center;
    	img {
            width: 128px;
            border-radius: 50%;
    	}
        .spkr-details {
            padding-top: .5rem;
            .spkr-name {
                font-weight: bold;
                font-size: .9em;
            }
            .spkr-title, .spkr-company {
                font-size: .8em
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .featured-speaker {
        // display: none;
        width: 40%;
        margin:  2% 4% 50px 4%;
    }
}

.footer {
    margin: 3rem 0 ;
    padding: .1rem 0 3rem 0 !important;
    @media @large-and-up {

    }
    @media @tablet-and-up {
        margin-left: 360px
    }
    @media @smartphones {
        margin-left: 0px;
    }
    @media screen and (min-width: 64em) {
        margin-left: 400px
    }
    .footer-inner {
        padding-left: 3rem;
        padding-right: 3rem;
        @media @smartphones {
            padding: 0 1rem 3rem;
        }
        hr {
            margin-bottom: @font-size__base*3;
        }
    }
	.copyright {
		margin: 0px 0 0em 0 ;
		color: @black-ish-light;
	}
}

.footer-ampli5yd {
    @media @smartphones, @phablet, @phablet-plus {
        margin-left: 0px;
    }
    .footer-inner {
        padding: 0 3rem 3rem;
        @media @phablet, @phablet-plus {
            padding : 0 3rem 3rem;
        }
        @media @smartphones {
            padding: 0 1rem 3rem;
        }
    }
}


/* Small only */
@media screen and (max-width: 39.9375em) {

    .right-section {
        .section-inner {
            padding: 0 1rem;
            .section-lead {
                background: none;
                padding-left:110px;
                color: @dark-color;
            }
            .day-badge {
                display: block;
            }
            .speaker-list-item {
                .spkr-title {
                    .job-title {
                        text-transform: uppercase;
                    }
                    .company, .city {
                        color: darken(@grey-color, 50%);
                    }
                }
            }
        }
    }
}

/* Large and up */


/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
