@lime-light-color:  #ABC40A;
@lime-dark-color:  	darken(@lime-light-color, 5%);

@pink-light-color:	rgba(216, 27, 96, 1);
@pink-dark-color:  	darken(@pink-light-color, 5%);

@blue-light-color:	#039BE5;
@blue-dark-color:  	#0F5276;

@grey-color: 		rgb(233, 233, 233);

@dark-red:			rgb(255, 71, 15);
@dark-red-50:		lighten(@dark-red, 5%);
@black-ish:			rgba(46, 48, 58, 0.960784);
@black-ish-light:	lighten(@black-ish, 50%);

@highlight-color    :  #FC258C;
@dark-color         :  #151424;
@bright-blue        :  #00a5ff;
@green-color        :   #21caac;

@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Extrabold.otf") format("opentype");
  font-weight: 900;
}

body {
  	font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 20px !important;
    color: @dark-color;
  	&#speakers .nav-speakers,
  	&#schedule .nav-schedule,
  	&#workshops .nav-workshops,
  	&#social .nav-social,
  	&#locations .nav-locations,
  	&#exhibition .nav-exhibition,
  	&#partners .nav-partners,
  	&#tickets .nav-tickets {
  		color: @black-ish;
  	}
    background: rgb(245, 245, 245);
}
a {
	color: @highlight-color;
    &:hover {
        color: darken(@highlight-color, 15%);
        border-color: darken(@highlight-color, 15%);
    }
}
p, ul {
	font-size: 1em !important;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-weight: 900;
  	color: @dark-color;
}

input[type="text"],
input[type="text"]
{
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	background-color: white;
	font-family: inherit;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 0.77778rem;
	margin: 0 0 0.88889rem 0;
	padding: 0.44444rem;
	height: 2.05556rem;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
ul label {
	display: inline-block !important;
	margin-left: 0.44444rem;
	margin-right: 0.88889rem;
	margin-bottom: 0;
	vertical-align: baseline;

	font-size: 1rem;
	color: #4d4d4d;
	cursor: pointer;
	display: block;
	font-weight: normal;
	line-height: 2;
	margin-bottom: 0;
}
figure {
	margin: 0;
}
hr {
	border-style: solid;
	border-width: 1px;
	border-color: @bright-blue;
}

.hidden {
	display: none;
}
.callout {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border: none;
  font-size: 1rem;
}
.punchy {
  color: @bright-blue;
}
.wonky {
    -webkit-shape-outside: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    shape-outside: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
}
.tabs .tab-title {
	&.active {
		a {
			color: @highlight-color;
		}
	}
	a {
		background: #fff;
		color: @black-ish;
		font-weight: bold;
		padding: 1rem 0;
		margin-right: 1.875rem;
		border-bottom: none;
		&:hover {
			background: #fff;
			color: @black-ish-light;
		};
	}
}
.fullWidth {
   	width: 100%;
   	margin-left: auto;
   	margin-right: auto;
   	max-width: initial;
   	.conf-description {
   		font-size: 1.5rem !important
   	}
}

.button {
	background: @highlight-color;
    -webkit-shape-outside: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    shape-outside: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
	&:hover {
		background: darken(@highlight-color, 15%);;
	};
}

.logo {
    position: absolute;
}

.heading-lead {
    text-transform: uppercase;
    color: @bright-blue;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}

#nav-bar {
    width: 120px;
    padding-top: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background: @dark-color;
    -webkit-shape-outside: polygon(0 0, 100% 0, 90px 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 0, 90px 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 90px 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 90px 100%, 0 100%);
  ul {
    &.main-nav {
        margin-left: -10px;
      li {
        text-align: center;
        margin-bottom: 24px;
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 11px;
          display: block;
          color: @green-color;
          border-bottom: none;
          span {
            height: 32px;
            width: 32px;
            display: block;
            margin: 0 auto 3px ;
            .svg-icon {
                fill: @grey-color;
            }
          }
        }
      }
    }
  }
}

/* CONTENT PANELS */
.left-section {
    position: fixed;;
    top: 0px;
    left: 00px;
    background: url(/img/pixel_weave.png) @dark-color;
    width:500px !important;
    color: @dark-color;
    -webkit-shape-outside: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    -webkit-transition: width .2s; /* Safari */
    transition: width .2s;
    .section-inner {
        margin-left: 0;
        padding: 3rem 6rem 0 10rem;
        xbackground: linear-gradient(-27deg, rgba(27, 97, 121, .95) 7%, rgba(20, 47, 84, .95) 64%);

        -webkit-shape-outside: polygon(42px 0, 100% 0, 95% 100%, 15px 100%);
        shape-outside: polygon(42px 0, 100% 0, 95% 100%, 15px 100%);
        -webkit-clip-path: polygon(42px 0, 100% 0, 95% 100%, 15px 100%);
        clip-path: polygon(42px 0, 100% 0, 95% 100%, 15px 100%);
        .brand {
            text-decoration: none;
            margin-top: 0;
            a {
                text-decoration: none;
                color: @dark-color;
                border-bottom: none;
                background: @bright-blue ;
            }
        }
        .conf-tagline {
            letter-spacing: 0rem;
            font-weight: bold;
            color: @dark-color;
            margin-top: -1rem;
        }
        .conf-when-where {
            font-size: .9rem;
        }
        .page-title {
            margin: 6rem 0 0rem;
            font-weight: 900;
            color: @dark-color;
            .button {
                -webkit-shape-outside: none;
                shape-outside: none;
                -webkit-clip-path: none;
                clip-path: none
            }
        }
    }
}

.right-section {
    margin-left: 500px;
    .section-inner {
        padding: 4.3rem 3rem 0rem 3rem ;
        .section-lead {
            margin: 0 0 3rem -100px;
            background: #151424;
            padding: 33px 33px 33px 100px;
            color: #fff;

        }
    }
}

.content-container {
	padding-left: 1.875rem;
	padding-right:  1.875rem;
}
.content-section {
	margin: 3.75rem 0 3.75rem ;
	padding: 0 0;
	.content-wrapper {
	}
	h2 {
		&.section-heading {
			margin: 0 0 1em;
		}
	}
}

/*   SPEAKERS	*/
.speaker-list-item {
    padding: .5rem;
    margin-bottom: 1rem;
    figure {
        // &:extend(.wonky);
        text-align: center;
    }
    h3 {
        margin-bottom: 0rem;
        color: @bright-blue;
    }
    .company {
        font-style: italic;
    }
    .spkr-desc {
        margin-top: 1.5rem
    }
}
.avatar-frame{
	background: @black-ish-light;
	text-align: right;
	font-size: 2rem;
	padding-top: 14px;
	height: 75px;
	width: 75px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	text-align: center;
	float: right;
	span {
		color: #fff;
	}
}


/*   SCHEDULE	*/
#schedule {
    hr {
        border-color: #f5f5f5;
    }
    .event-day {
        padding-top : 3rem;
        h4 {
            color : @bright-blue;
            span {
                padding: 3px .8rem;
                &.day-badge {
                    background: @bright-blue;
                    color: #fff;
                    border-radius: 0px;
                    -webkit-shape-outside: polygon(1% 0, 100% 0, 99% 100%, 0 100%);
                    shape-outside: polygon(1% 0, 100% 0, 99% 100%, 0 100%);
                    -webkit-clip-path: polygon(1% 0, 100% 0, 99% 100%, 0 100%);
                    clip-path: polygon(1% 0, 100% 0, 99% 100%, 0 100%);
                }
            }
        }
    	.sessions {
    		list-style-type: none;
    		margin-left: 0;
    	}
    }
}
.single-session {
	border-bottom: 1px solid #e5e5e5;
	padding: 16px 0;
    time {
        font-size: .9em;
    }
	&:last-of-type {
		border-bottom: none;
	};
	&.non-speaker {
		h5 {
			sfont-weight: normal;
			color: @black-ish;
		}
	}
	h5 {
		color: @bright-blue;
		margin-bottom: 0;
	}
}

/*  TICKETS	*/
#tickets {
    section
    table {
        width: 100%;
        border: 0px;
        margin-bottom: 3rem;
        tbody {
            tr {
                background: #f5f5f5;
                border-bottom: 1px solid #ccc;
                td {
                    padding-bottom: .5rem;
                    font-size: 1rem
                }
            }
            &:nth-child(even) {
                background: #f5f5f5
            }
        }
    }
    .ticket-buy {
        text-align: right;
        .button {
            margin: .5rem 0;
        }
    }
	.ticket-name {
        font-weight: bold;
        line-height: 1.25rem;
        padding-left: 0px;
        span {
            font-weight: normal;
            color: lighten(@dark-color, 50%);
        }
        a, span {
            font-weight: normal;
            font-size: .8em;
        }
    }
}

/*/// HOLDING PAGE ///*/
#holding {
  header {
  	padding-top: 4rem;
  }
  [type=email] {
    box-shadow: none;
    border-right: none
  }
}
.sub_form {
  .button {
    padding: .80em 1em !important;
  }
}

/*///   HOME	///*/
#home {
	.featured-speaker {
		text-align: center;
		figure {
			margin-bottom: 1rem;
		}
		dd {
			margin-bottom: 0rem;
		}
	}
	.more-speakers {
		margin-top: 1.4em;
		text-align: center;
	}
}

.footer {
	background: @dark-color;
    padding: 3.75rem 1.5rem .9375rem 1.5rem;
	margin-top: 3.75rem;
	color: #fff;

	h5 {
		color: @black-ish-light;
	}
	p, ul {
		font-size: 1rem !important;
	}
	.copyright {
		margin: 6px 0 1em 0 ;
		font-size: 0.75rem;
		color: @black-ish-light;
	}
	hr {
		border: .5px solid @bright-blue;
	}
	ul.nav {
		a {
			border-bottom: none;
		}
	}
	.button {
		color: #fff
	}
}


.footer {
    padding-bottom: 0;
    .footer-ampli5yd {
        border-top: 2rem solid @bright-blue;
        margin: 2rem -1.5rem;
        padding: 3rem 1.5rem 1rem 2rem;
        background: #f5f5f5;
        color: @dark-color;
        img {
            margin-bottom: 1rem;
            height: 2rem;
        }
    }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .brand {
        position: static;;
        z-index: 2000;
        left: 0;
        top: 0;
        font-size: 1.5rem;
        -webkit-shape-outside: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        shape-outside: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        a {
            width: 120px;
            display: block;
            padding: 1rem 0 1rem 1rem;
            font-size: 1.3rem;
            color: @dark-color;
            background: @bright-blue ;
        }
    }
    .top-bar {
        text-align: left;
        padding: 5.5rem 2rem 1rem;
        margin-top: -4.5rem;
    	background: url(/img/pixel_weave.png) ;
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        .conf-tagline {
            color: @dark-color;
            font-size: 1em;
        }
        .conf-when-where {
            font-size: .8rem;
            color: lighten(@dark-color, 10%);
        }
    }
    #home {
        .page-title {
            display: none;
        }
    }
    .left-section {
        position: static;
        width: 100% !important;
        clip-path: none;
        -webkit-clip-path: none;
        shape-outside: none;
        -webkit-shape-outside: none;
        background: none;
        .section-inner {
            padding: 0 1.5em;
            clip-path: none;
            -webkit-clip-path: none;
            shape-outside: none;
            -webkit-shape-outside: none;
            .brand {
                text-align: center;
            }
            .conf-tagline {
                display: none;
            }
            .conf-when-where {
                display: none;
            }
            .page-title {
                margin: 2.5rem 0 0;
                font-size: 2rem;
            }
            .page-lead-content {
                display: none;
                ul {
                    margin-bottom: 0;
                }
            }
        }
    }
    .right-section {
        margin-left: 0px;
        .section-inner {
            padding: 1em ;
            .section-lead {
                font-size: 1em;
                background: none;
                padding: 0 0 0 110px;
                color: @dark-color;
            }
            .day-badge {
                display: block;
                margin-bottom: .3rem
            }
            .speaker-list-item {
                h3 {
                    margin-bottom: 0;
                }
                .spkr-title {
                    line-height: 1.5rem;
                    font-size: 1rem !important;
                    .company, .city {
                        color: darken(@grey-color, 50%);
                    }
                }
            }
        }
    }
    #nav-bar {
        position: static;
        width: 100% !important;
        clip-path: none;
        -webkit-clip-path: none;
        shape-outside: none;
        -webkit-shape-outside: none;
        padding: 0;
        height: 3rem;
        background: @dark-color;
        overflow: hidden;
        ul {
        &.main-nav {
            margin: 0px;
          li {
            float: left;
            margin-bottom: 0;
            width:25%;
            a {
              text-decoration: none;
              text-transform: uppercase;
              font-size: .75rem;
              padding: .9rem 0;
              line-height: 1.25rem;
              display: block;
              color: @green-color;
              border-bottom: none;
              &.nav-tickets {
                background: @highlight-color;
                color: @dark-color;
                -webkit-shape-outside: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
                shape-outside: polygon(1% 0, 100% 0, 99% 100%, 0 100%);
                -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(1% 0, 100% 0, 99% 100%, 0 100%)
              }
              span {
                display: none;
              }
            }
          }
        }
        }
    }
    .footer {
        .footer-ampli5yd {
        }
    }

}

/* Medium and up */
@media screen and (min-width: 40em) {
    .brand {
        position: fixed;
        z-index: 1999;
        left: 117px;
        top: 0;
        font-size: 1.5rem;
        -webkit-shape-outside: polygon(0 0, 100% 0, 117.5px 100%, 0 100%);
        shape-outside: polygon(0 0, 100% 0, 118px 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 117.5px 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 90px 100%, 0 100%);
        a {
            width: 120px;
            display: block;
            padding: 1.2rem 0 1.2rem 1rem;
            font-size: 1.3rem;
            color: @dark-color;
            background: @bright-blue ;
        }
    }
    #nav-bar {
        height: 100%;
    }
    .top-bar {
        display: none;
    }
    .left-section {
        width: 400px !important;
        height: 100vh;
        .section-inner {
            padding: 7.5rem 3rem 0 9.5rem;
        }
    }
    .right-section {
        margin-left: 400px;

        .speaker-list-item {
            margin-bottom: 3rem;
            h3 {
                margin-top: -.5rem;
            }
        }
    }
    .footer {
        padding-bottom: 0;
        .footer-ampli5yd {
            margin-left: -4.5rem;
            padding: 3rem 3rem 3rem 5.5rem
        }
        .footer-inner {
            margin-left: 510px;
        }
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .left-section {
        width: 400px !important;
    }
    .right-section {
        margin-left: 400px;
    }
    .footer {
        padding-bottom: 0;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .left-section {
        width: 500px !important;
        .section-inner {
            padding: 7.5rem 6rem 0 10rem;
        }
    }
    .right-section {
        margin-left: 500px;
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
