Inn designing this conference and choosing venues, we have tried to make sure that all attendees can have the best possible experience with our websites, our apps and at conference venues.

At Conference Venues

You can access the Main Event Hall at Maboneng with a wheel chair. We have extra spaces in front of the stage for wheel chairs and a toilet for disabled access.

The venue does not had exclusive  parking places for disabled access however if you have specific accessibility requirements, contact us in advance and we'll make a plan to accommodate you.

Workshop, Side-show, and Party Venues

We change our venues on a regular basis. If you want to attend a workshop and have specific accessibility requirements, please contact us in advance and together we'll make a plan to ensure your comfort and ease of access.

Website accessibility

We have designed and built our websites to adhere as closely as possible to ARIA and W3C Accessibilty standards. If you know where and how we can improve the site or even worse – if you find bugs that make the site unusable, please contact us.

App accessibility

App accessibility is a strange beast that we are still learning to get our heads and skills around. We've worked to get the basic right, but some things may behave weirdly. If you know where and how we can improve the app or if you find bugs that make the app unusable, please contact us.
