
                    <div class="row">
                        <div class="medium-4 columns">
                            <div><img class="photo" src="/img/farai-madzima.jpg"/></div>
                            
                        </div>
                        <div class="medium-8 columns">
                            <p><strong>Farai Madzima is the Design Lead for the Standard Bank app</strong> and has 10 years of experience researching and designing for humane on-screen interactions.</p>
                            <p>His training style is not to fill your head with facts. Rather he gives concrete models and techniques that you can apply to the different problems that you'll face with real projects. Most importantly, you'll have fun, this is the best way to learn.</p>
                            
                        </div>
                    </div>