<div class="panel callout radius">
    <h3>Convince your Boss or Partner or Someone else<br><small>Need help justifying the training?</small></h3>
    <p>Whatever your role, Learn Axure training, with its hands-on practical approach will make you proficient at prototyping with the tool of choice for the best design teams around the world. </p>
    <p>Use the draft email below to help someone understand why Learn Axure is a cost effective and useful training course for you. 
    </p>
    <button>View draft email</button>
</div>