
        <div class="footer">
            <div class="container">
                <div class="footer-inner">
                    <div class="row">
                        <div class="one-third column">
                            <h2>Stay in touch</h2>
                            <ul class=" no-bullet">
                                <li><i class="fi-social-twitter"></i> <a href="https://twitter.com/letspixelup">Twitter</a></li>
                                <li><i class="fi-social-facebook"></i> <a href="https://facebook.com/letspixelup">Facebook</a></li>
                                <li><i class="fi-social-lanyrd"></i> <a href="http://lanyrd.com/2016/pixelup/">Lanyrd</a></li>
                                <li><i class="fi-mail"></i> <a href="mailto:hello@pixelup.co.za">hello@pixelup.co.za</a></li>
                            </ul>
                        </div>
                        <div class="one-third column">
                            <h2>Attending Pixel Up!</h2>
                            <ul class=" no-bullet">
                                <li><a href="/code-of-conduct/">Code of conduct</a></li>
                                {#}<li><a href="/schedule/">Accessibility</a></li>#}
                                <li><a href="/terms/">Terms of service</a></li>
                            </ul>
                        </div>
                        <div class="one-third column">
                            <h2>Got any questions?</h2>
                            <p>Questions about our events, venues or other Pixel Up! details? Give us a shout: <a href="mailto:info@pixelup.co.za">info@pixelup.co.za</a>.</p>

                        </div>
                    </div>
                    {#<p>Want to join us as a sponsor? Download our <a href="#">Sponsor Information Document</a>.</p>#}
                    <div class="hidden">
                        <h2>Stay up to date on Pixel Up! 2016</h2>
                        <p>We send out updates on tickets, speakers, and other important event details to our mailing list:</p>
                        <div class="row">
                            <div class="large-6 columns">
                              <div class="row collapse">
                                <div class="small-8 columns">
                                  <input type="text" placeholder="Your email">
                                </div>
                                <div class="small-4 columns">
                                  <a href="#" class="button postfix radius ">Keep me posted</a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-ampli5yd">
            <div class="container">
                <p><img src="/img/ampli5yd-logo.png" alt="" /></p>
                <p>Pixel Up! is proudly presented by <a href="http://ampli5yd.com">Ampli5yd</a>, a product management consultancy.
                    We’re based down in sunny Johannesburg, South Africa where we also offer training
                    to help our clients define the right product, with the right features, for the right audience, at the right time.
                </p>
                <p class="copyright">&copy; 2016 Pixel Up!</p>
            </div>
        </div>
