
        <div class="footer">
            <div class="footer-inner">
                <div class="row">
                    <div class="columns large-6">
                        <h5>Attending Pixel Up!</h5>
                        <ul class="nav no-bullet">
                            <li><a href="/speakers/">Code of conduct</a></li>
                            <li><a href="/schedule/">Accessibility</a></li>
                            <li><a href="/workshops/">Terms of service</a></li>
                        </ul>
                        <h5>Stay in touch</h5>
                        <ul class="nav no-bullet">
                            <li><i class="fi-social-twitter"></i> <a href="">Twitter</a></li>
                            <li><i class="fi-social-facebook"></i> <a href="">Facebook</a></li>
                            <li><i class="fi-mail"></i> <a href="">hello@pixelup.co.za</a></li>
                            <li><i class="fi-social-lanyrd"></i> <a href="">Lanyrd</a></li>
                        </ul>
                    </div>
                    <div class="columns large-6">
                        <h5>Got any questions?</h5>
                        <p>Questions about our events, venues or other Pixel Up! details? Get in touch with us anytime at <a href="#">info@pixelup.co.za</a>.</p>

                        <p>Want to join us as a sponsor? Download our <a href="#">Sponsor Information Document</a>.</p>
                        <div class="hidden">
                            <h5>Stay up to date on Pixel Up! 2016</h5>
                            <p>We send out updates on tickets, speakers, and other important event details to our mailing list:</p>
                            <div class="row">
                                <div class="large-6 columns">
                                  <div class="row collapse">
                                    <div class="small-8 columns">
                                      <input type="text" placeholder="Your email">
                                    </div>
                                    <div class="small-4 columns">
                                      <a href="#" class="button postfix radius ">Keep me posted</a>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-ampli5yd">
                    <h2><img src="/img/ampli5yd-logo.png" alt="" /></h2>
                    <p>Pixel Up! is proudly presented by Ampli5yd, a product management consultancy.
                        We’re based down in sunny Johannesburg, South Africa where we also offer training
                        to help our clients define the right product, with the right features, for the right audience, at the right time.
                    </p>
                    <p class="copyright">&copy; 2016 Pixel Up!</p>
                </div>
            </div>
        </div>
