
                        <div class="booking-widget row bottom">
                            <div class="small-6 medium-4 columns">
                                <h3>Book now <br>
                                    <small>Limited places</small>
                                </h3> 
                            </div>
                            <div class="small-6 medium-4 columns">
                                <h3>R {{ price }}<br>
                                    <small>per person</small>
                                </h3> 
                            </div>
                            <div class="small-12 medium-4 columns">
                                <a href="#" data-reveal-id="bookingModal" class="button radius small">Book it</a>
                            </div>
                        </div>